body { font-family: Arial; font-size:12px; }

input { }

.txtBoxExtraLarge { width: 180px; }
.txtBoxLarge { width: 152px;  }
.txtBoxMedium { width: 80px; }
.txtBoxSmall { width: 40px; }

#divLogo {
    float:left;
    height:45px;
}

#divSiteUpdates 
{
    float:left; width: 600px; padding:5px; overflow:auto;
}

#divSignInCreateAccountContainer {
    float: right;
    border: 1px dashed #D0D0D0; 
    padding:5px; 
    overflow:auto;
    /* width:188px; */
}

#divSignInCreateAccountContainer #divSignInCreateAccount {
    float:right;
    background-color: #E8EEFA;
    padding: 10px;
    border: 0px dashed #D0D0D0;
}

#divWelcome { float:right; width: 300px; text-align:right; }

.msg { }
a:link,a:visited,a:hover,a:active { color:blue; }
a.feedback:link,a.feedback:visited,a.feedback:hover,a.feedback:active { color:green; }
.editUnchecked { border-bottom:dashed 1px black; }
.editChecked { border-bottom:dashed 1px #AAA; color: #AAA; text-decoration:line-through; }
a.noUnderline:link,a.noUnderline:visited,a.noUnderline:hover,a.noUnderline:active { text-decoration:none; }
.inputField { margin-bottom:5px; }

.messageBox { position: absolute; top: 13px; left: 0; width: 100%; }
.messageBox #messageContent { font-weight:bold; padding: 3px; background-color: #FFF1A8; text-align:center; margin: 0 auto; width: 110px; }

.TextBox { padding: 2px; font-size:140%; }

.GridView {}
    .GridView td { padding:0 5px; height:30px; }
    .GridView th { background-color:#69A8D1; color:White; padding: 4px; }
    .GridView tr.EditRow { display: none; }
    .GridView tr.EditRow .PathTextBox { width: 150px; }
    .GridView tr.EditRow .UrlTextBox { width: 396px; }
.Form 
{
    border: dashed 1px #D0D0D0;
    padding:5px 8px 5px 8px;
}
    .Add { width: 652px; margin-top:13px; }
    .AddPathTextBox { width: 100px; }
