@model seeitornot.site.ViewModels.Home.Index
@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings, Reviews and Showtimes";
}

@section scripts {
    <script>
        var viewModel = ko.mapping.fromJS({
            overlayMovieId: '@(Model.OverlayMovie != null ? Model.OverlayMovie.id : "")'
        });
        ko.applyBindings(viewModel);
    </script>
}

<div class="body group">
    @foreach (var movieList in Model.movieLists)
    {
        <h2>@movieList.title</h2>
        foreach (var movie in movieList.movies.Values)
        {
            <a href="~/@movie.movieSlug" class="group movie bottomShadow">
                <img src="@movie.posterDetailed" />
                <div class="details">
                    <div class="mpaa">
                        @movie.mpaa_rating
                    </div>
                </div>
            </a>
        }
    }
</div>

<section id="movie" class="popup rounded" data-bind="visible: overlayMovieId()" style="display:none;">
@if (Model.OverlayMovie != null)
{
    this.Html.RenderPartial("Movie", this.Model.OverlayMovie);
}
</section>
<div id="overlay" data-bind="visible: overlayMovieId()"></div>