@model seeitornot.site.ViewModels.Home.Index
@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings, Reviews and Showtimes";
}

@section scripts {
    <script>
        var viewModel = ko.mapping.fromJS({
            overlayMovieId: '@(Model.OverlayMovie != null ? Model.OverlayMovie.id : "")',
            theater: localStorage.getItem("theater") || "all theaters",
            zip: localStorage.getItem("zip")
        });
        ko.applyBindings(viewModel);
    </script>
}

<div class="mainContent group">
    <section style="display:none" id="showtimes" data-bind="visible: zip">
        <h2 class="filter">Showtimes for <a data-bind="text: theater" class="theater" href="#"></a> near <a data-bind="text: zip" class="zip" href="#"></a>.</h2>
        <div id="theatersWithMovies"></div>
    </section>
    <section class="welcome" style="display:none" data-bind="visible: !zip()">
        <div class="row">
            <h2>Where would you like to see showtimes?</h2>
        </div>
        <div class="row">
            <button id="nearMe" class="btn btn-primary btn-lg" data-loading-text="Loading...">Use my location</button><span class="or">- or -</span><input type="search" class="form-control form-inline enterZip" placeholder="Enter zip code..." />
        </div>
    </section>

    @foreach (var movieList in Model.movieLists)
    {
        <h2>@movieList.title</h2>
        foreach (var movie in movieList.movies.Values)
        {
            <a href="~/@movie.movieSlug" class="group movie bottomShadow">
                <img src="@movie.posterDetailed" />
                <div class="details">
                    <div class="mpaa">
                        @movie.mpaa_rating
                    </div>
                </div>
            </a>
        }
    }
</div>

<script id="theaterTmpl" @*type="text/x-jsrender"*@ @*type="text/x-handlebars-template"*@ type="text/x-jquery-tmpl">
    <h2>{{=name}}</h2>
    {{#each movies}}
    <h3>{{=title}}</h3>
    {{/each}}
</script>

<section id="movie" class="popup rounded" data-bind="visible: overlayMovieId()" style="display:none;">
@if (Model.OverlayMovie != null)
{
    this.Html.RenderPartial("Movie", this.Model.OverlayMovie);
}
</section>
<div id="overlay" data-bind="visible: overlayMovieId()"></div>