@model seeitornot.site.ViewModels.Home.Index
@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings, Reviews and Showtimes";
}

@foreach (var movieList in Model.movieLists)
{
    <h2>@movieList.title</h2>
    foreach (var movie in movieList.movies.Values)
    {
        
    }
}
<h2>Trailers</h2>

<h2>This Weekend</h2>

<h2>In Theaters</h2>

<h2>Coming Soon</h2>