@model seeitornot.site.ViewModels.Home.Index
@{
    ViewBag.Title = "See it or Not - Showtimes and Movie Ratings";
}

<div class="mainContent group">
    
    <section style="display:none" id="showtimes" data-bind="visible: zip() && theaterId() && !movieId()">
        <h3 class="filter">Showtimes for <a data-bind="text: theaterName" class="theater" href="#"></a> near <a data-bind="text: zip" class="zip" href="#"></a></h3>
        <div id="theatersWithMovies"></div>
    </section>
    
    <section style="display:none" class="welcome" data-bind="visible: (!zip() || !theaterId()) && !movieId()">
        <div class="row">
            <h2>Where would you like to see showtimes?</h2>
        </div>
        <div class="row">
            <button id="nearMe" class="btn btn-primary btn-lg" data-loading-text="Loading...">Use my location</button><span class="or">- or -</span><input type="search" class="form-control form-inline enterZip" placeholder="Enter zip code..." />
        </div>
    </section>
    
    <section style="display:none" class="singleMovie" data-bind="visible: movieId()">
    </section>

    @foreach (var movieList in Model.movieLists)
    {
        <h2>@movieList.title</h2>
        foreach (var movie in movieList.movies.Values)
        {
            <a href="~/@*@movie.movieSlug*@" class="group movie bottomShadow">
                <img src="@movie.posterDetailed" />
                <div class="details">
                    <div class="mpaa">
                        @movie.mpaaRating
                    </div>
                </div>
            </a>
        }
    }
</div>

<script id="theaterTmpl" type="text/x-jsrender">
    <div class="theater">
        {{for movies}}
            <div class="movie group">
                <a href="/{{:slug}}/{{:id}}"><img src="{{:posterThumbnail}}" /></a>
                <h4>{{:title}}</h4>
                <div class="hint">{{:mpaaRating}}{{if runtime}} , {{:runtime}}{{/if}}{{if is3d}} , <strong>3D</strong>{{/if}}</div>
                <a class="movieInfo" href="/{{:slug}}/{{:id}}" data-movie-id="{{:id}}">Movie info...</a>
                <div class="showtimesHtml">
                    {{for showtimes}}
                        <span class="{{if isPast}}hint{{:runtime}}{{/if}}">{{:showtime}}</span>
                    {{/for}}
                </div>
            </div>
        {{/for}}
    </div>
</script>