@model seeitornot.site.ViewModels.Home.Index
@{
    ViewBag.Title = "See it or Not - Trailers, Movie Ratings, Reviews and Showtimes";
}

@*<h2>Trailers</h2>*@

@foreach (var movieList in Model.movieLists)
{
    <h2>@movieList.title</h2>
    foreach (var movie in movieList.movies.Values)
    {
        <h3>@movie.title</h3>
    }
}