<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ianhd.data.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=sqlserver8.loosefoot.com;Persist Security Info=True;User ID=ihdavis2;Password=pchang"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>