@model seeitornot.model.Movie

<a class="back" href="#"><i class="fa fa-chevron-left"></i> Back</a><span class="backAfter"></span><h1>@this.Model.title</h1>
<div class="movieContent group">
    <img src="@Model.posterDetailed" />
    <div class="details">
        <div class="ratings">
            <h2>Rotten Tomatoes® Scores</h2>
            <div>
                @Model.audienceScore% Audience Score
            </div>
            <div>
                @Model.criticsScore% Critic Score
            </div>
        </div>
    </div>
</div>
