@model movies.Site.ViewModels.Home.Index
@using movies.Site.ViewModels.Shared
@using movies.Model

@{
    ViewBag.Title = "Movie Ratings - Top Box Office";
}

@section ExtraHeadContent {
}

<input type="hidden" id="currentShowtimeDay" />

@* *** What's Hot *** *@
<div data-role="page" id="whatsHot">
    @{ Html.RenderPartial("PageHeader", new PageHeader { ActiveMenu = Enumerations.MobileMenuItems.whatsHot, PrefetchLinks = Model.PrefetchLinks, UseAjaxForLinks = Model.UseAjaxForLinks }); }
    <div data-role="header" data-theme="c">
        <h2>Top Box Office</h2>
    </div>
	<div data-role="content">	
        <ul data-role="listview" data-theme="c">
            @this.Html.Partial("MovieList.Mobile", this.Model.BoxOfficeMovies)
        </ul>
    </div>
    <div data-role="header" data-theme="c">
        <h2>Opening This Week</h2>
    </div>
    <div data-role="content">	
        <ul data-role="listview" data-theme="c">
            @this.Html.Partial("MovieList.Mobile", this.Model.OpeningMovies)
        </ul>
    </div>
    <div data-role="header" data-theme="c">
        <h2>Also in Theaters</h2>
    </div>
    <div data-role="content">	
        <ul data-role="listview" data-theme="c">
            @this.Html.Partial("MovieList.Mobile", this.Model.InTheatersMovies)
        </ul>
    </div>
</div>

@* *** Showtimes *** *@
<div data-role="page" id="showtimes">
    @{ Html.RenderPartial("PageHeader", new PageHeader { ActiveMenu = Enumerations.MobileMenuItems.showtimes, PrefetchLinks = Model.PrefetchLinks, UseAjaxForLinks = Model.UseAjaxForLinks }); }
    <div data-role="content">
        <input type="text" id="inputShowtimesZip" placeholder="Search for city or zip...">
        <div>or <a href="#">use current location</a></div>
    </div>	
</div>

@* *** Theaters *** *@
<div data-role="page" id="zip">
    @{ Html.RenderPartial("PageHeader", new PageHeader { ActiveMenu = Enumerations.MobileMenuItems.showtimes, PrefetchLinks = Model.PrefetchLinks, UseAjaxForLinks = Model.UseAjaxForLinks }); }
    <div data-role="header" data-theme="c">
        <h1>Theaters near <span id="currentShowtimesZip"></span></h1>
        <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
    </div>
    <div data-role="content">	
        <ul data-role="listview" data-theme="c"></ul>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-theme="c"></ul>
    </div>
</div>

@* *** Theater w/ its movies *** *@
<div data-role="page" id="theater">
    @{ Html.RenderPartial("PageHeader", new PageHeader { ActiveMenu = Enumerations.MobileMenuItems.showtimes, PrefetchLinks = Model.PrefetchLinks, UseAjaxForLinks = Model.UseAjaxForLinks }); }
    <div data-role="header" data-theme="c">
        <h2><span></span></h2>
        <a href="#" data-icon="arrow-l" class="ui-btn-left">Back</a>
    </div>
    
    <div data-role="content">
        <ul data-role="listview" data-theme="c"></ul>
	</div>
</div>

@* *** Single Theater Movie *** *@
<div data-role="page" id="theatermovie">
    @{ Html.RenderPartial("PageHeader", new PageHeader { ActiveMenu = Enumerations.MobileMenuItems.showtimes, PrefetchLinks = Model.PrefetchLinks, UseAjaxForLinks = Model.UseAjaxForLinks }); }
    <div data-role="header" data-theme="c">
        <h2><span></span></h2>
        <a href="#" data-icon="arrow-l" class="ui-btn-left">Back</a>
    </div>
    <div data-role="content"></div>
</div>