@model movies.Site.ViewModels.Home.Index
@using movies.Site.ViewModels.Shared
@using movies.Model

@{
    ViewBag.Title = "SeeItOrNot.co";
}

@section ExtraHeadContent {
}

<input type="hidden" id="currentShowtimeDay" />
<input type="hidden" id="currentMovieId" />
<input type="hidden" id="currentTrailerMovieId" />

<div id="body">
    <div class="loading"></div>
    <div class="logo orangeDiag">
        <a href="~/"></a>
    </div>
    <nav class="greenGradient">
        <a href="~/" class="selected" data-section-id="whatsHot">Home</a>
        <a href="/showtimes" data-section-id="showtimes">Showtimes</a>
    </nav>
    <div data-role="content" id="search">
        <div id="left" class="shift"><input type="text" placeholder="Search movies..." /></div>
        <a href="#" id="cancelSearch" class="shift">Cancel</a>
    </div>
    @* *** What's Hot *** *@
    <section id="whatsHot" data-navitemurl="/">
        <h2>Top Box Office</h2>
	    <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.BoxOfficeMovies)
            </div>
        </div>
        <h2>Opening This Week</h2>
        <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.OpeningMovies)
            </div>
        </div>
        <h2>Also in Theaters</h2>
        <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.InTheatersMovies)
            </div>
        </div>
        <h2>Coming Soon</h2>
        <div data-role="content" class="group movieList">
            <div class="sliderWrapper">
                @this.Html.Partial("MovieList.Mobile", this.Model.UpcomingMovies)
            </div>
        </div>
    </section>
    @* *** Showtimes *** *@
    <section id="showtimes" data-navitemurl="/showtimes">
        <div data-role="content" id="options">
            <input type="text" id="inputShowtimesZip" placeholder="Search for city or zip..." />
            <div>or <a href="#">use current location</a></div>
        </div>
        <div id="theaters">
            <h2>Near <span id="currentShowtimesZip"></span><a href="#" class="right">Options</a></h2>
            <div data-role="content">
                <ul></ul>
            </div>
            <div data-role="content">
                <ul></ul>
            </div>
        </div>    
    </section>
    @* *** Theater w/ its movies *** *@
    <section id="theater" data-navitemurl="/showtimes">
        <h2><a href="/showtimes" class="back">Back</a><span></span></h2>
        <h2 id="showtimeDays"></h2>
        <div data-role="content">
            <ul></ul>
	    </div>
    </section>
    @* *** Single Theater Movie *** *@
    <section id="theatermovie" data-navitemurl="/showtimes">
        <h2><a href="#" class="back">Back</a><span></span></h2>
        <div data-role="content" class="movieView"></div>
    </section>
    @* *** Movie *** *@
    <section id="movie">
        <h2><a href="#" class="back">Back</a><span></span></h2>
        <div data-role="content" class="movieView"></div>
    </section>
</div>