@model movies.Site.ViewModels.Home.Index

@{
    ViewBag.Title = "Movie Ratings - Top Box Office";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        // var overlayRtMovieId = '';
        var showMovieOverlay = @(this.Model.OverlayMovie == null ? "true" : "true");
    </script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
}

<div id="container">
    <header>
        <a class="logo" href="~/"></a>
        <nav></nav>
        <input class="rounded glowing" id="q" type="text" placeholder="search + enter" />
    </header>

    <!-- BOX OFFICE -->
    <section id="boxOfficeView" class="content movieList" data-navitemtext="Top Box Office">
        @this.Html.Partial("MovieList", this.Model.BoxOfficeMovies)
    </section>

    <!-- UPCOMING -->
    <section id="upcomingView" class="content movieList" data-navitemtext="Coming Soon">
        @this.Html.Partial("MovieList", this.Model.UpcomingMovies)
    </section>

    <!-- SHOWTIMES -->
    <section id="showtimesView" class="content" data-navitemtext="Showtimes">
        <input type="hidden" id="currentShowtimeDay" />
        <section id="theaters">
            <div id="location">
                Showtimes for <span id="currentZip"></span><a href="#" id="changeCurrentZipLink">Change</a>
                <div id="changeOptions" class="rounded">
                    <input type="text" placeholder="e.g., 23226"><button type="button">Set</button> or <a id="useNearbyZipCode" href="#">see nearby</a>
                </div>
            </div>
            <div id="favoriteTheaterList" class="theaterList favorites"></div>
            <div id="theaterList" class="theaterList"></div>
        </section>
        <section id="currentTheaterContainer"></section>
    </section>

    <!-- SEARCH RESULTS -->
    <section id="searchResultsView" class="content movieList rounded">
    </section>

    @if (this.Model.OverlayMovie != null)
    {
        <!-- MOVIE DETAILS -->
        <section id="movieDetails" class="rounded">
            @this.Html.Partial("MovieDetails", this.Model.OverlayMovie)
        </section>
        <div id="overlay"></div>        
    }
</div>
