@model movies.Site.ViewModels.Home.Index
@using movies.Site.ViewModels.Shared
@using movies.Model

@{
    ViewBag.Title = "SeeItOrNot.co";
}

@section ExtraHeadContent {
}

<input type="hidden" id="currentShowtimeDay" />
<input type="hidden" id="currentMovieId" />

<div id="menu">
    <div data-role="content" id="search">
        <div id="left"><input type="text" placeholder="Search movies..." /></div>
        <a href="#" id="cancelSearch">Cancel</a>
    </div>
    <div id="menuItems">
        <a href="/">Home</a>
        <a href="/showtimes">Showtimes</a>
    </div>
@*    <a href="/reviews">Reviews</a>
    <a href="/about">About</a>*@
</div>
<div id="body">
    <div class="loading"></div>
    <div class="logo">
        <a href="~/"></a>
    </div>
    <h1>
        <a href="#" id="menuLink"><span class="shadow"></span><span class="shadow"></span><span class="shadow"></span></a>
        <a href="/" id="header">What's Hot</a>
    </h1>
    @* *** What's Hot *** *@
    <section id="whatsHot" data-navitemurl="/">
        <h2>Top Box Office</h2>
	    <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.BoxOfficeMovies)
            </ul>
        </div>
        <h2>Opening This Week</h2>
        <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.OpeningMovies)
            </ul>
        </div>
        <h2>Also in Theaters</h2>
        <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.InTheatersMovies)
            </ul>
        </div>
    </section>
    @* *** Showtimes *** *@
    <section id="showtimes" data-navitemurl="/showtimes">
        <div data-role="content" id="options">
            <input type="text" id="inputShowtimesZip" placeholder="Search for city or zip..." />
            <div>or <a href="#">use current location</a></div>
        </div>
        <div id="theaters">
            <h2>Near <span id="currentShowtimesZip"></span><a href="#" class="right">Options</a></h2>
            <div data-role="content">
                <ul></ul>
            </div>
            <div data-role="content">
                <ul></ul>
            </div>
        </div>    
    </section>
    @* *** Theater w/ its movies *** *@
    <section id="theater" data-navitemurl="/showtimes">
        <h2><span></span><a href="/showtimes" class="back">Back</a></h2>
        <h2 id="showtimeDays"></h2>
        <div data-role="content">
            <ul></ul>
	    </div>
    </section>
    @* *** Single Theater Movie *** *@
    <section id="theatermovie" data-navitemurl="/showtimes">
        <h2><span></span><a href="#" class="back">Back</a></h2>
        <div data-role="content" class="movieView"></div>
    </section>
    @* *** Movie *** *@
    <section id="movie">
        <h2><span></span><a href="#" class="back">Back</a></h2>
        <div data-role="content" class="movieView"></div>
    </section>
</div>