@model movies.Site.ViewModels.Home.Index
@using movies.Site.ViewModels.Shared
@using movies.Model

@{
    ViewBag.Title = "SeeItOrNot.co";
}

@section ExtraHeadContent {
}

<input type="hidden" id="currentShowtimeDay" />
<input type="hidden" id="currentMovieId" />

<div id="body">
    <div class="loading"></div>
    <div class="logo">
        <a href="~/"></a>
    </div>
    @*<input type="search" name="search" id="q" value="" placeholder="Search..."/>*@
    <ul id="navBar" class="group">
        <li><a class="selected" href="/">What's Hot</a></li>
        <li><a href="/showtimes">Showtimes</a></li>
    </ul>

    @* *** What's Hot *** *@
    <section id="whatsHot" data-navitemurl="/">
        <div data-role="header">
            <h2>Top Box Office</h2>
        </div>
	    <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.BoxOfficeMovies)
            </ul>
        </div>
        <div data-role="header">
            <h2>Opening This Week</h2>
        </div>
        <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.OpeningMovies)
            </ul>
        </div>
        <div data-role="header">
            <h2>Also in Theaters</h2>
        </div>
        <div data-role="content">	
            <ul>
                @this.Html.Partial("MovieList.Mobile", this.Model.InTheatersMovies)
            </ul>
        </div>
    </section>
    @* *** Showtimes *** *@
    <section id="showtimes" data-navitemurl="/showtimes">
        <div data-role="content" id="options">
            <input type="text" id="inputShowtimesZip" placeholder="Search for city or zip...">
            <div>or <a href="#">use current location</a></div>
        </div>
        <div id="theaters">
            <div data-role="header">
                <h1>Theaters near <span id="currentShowtimesZip"></span></h1>
                <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
            </div>
            <div data-role="content">
                <ul></ul>
            </div>
            <div data-role="content">
                <ul></ul>
            </div>
        </div>    
    </section>
    @* *** Theater w/ its movies *** *@
    <section id="theater" data-navitemurl="/showtimes">
        <div data-role="header">
            <h2></h2>
            <a href="/showtimes" class="ui-btn-left">Back</a>
        </div>
    
        <div data-role="content">
            <ul></ul>
	    </div>
    </section>
    @* *** Single Theater Movie *** *@
    <section id="theatermovie" data-navitemurl="/showtimes">
        <div data-role="header">
            <h2></h2>
            <a href="#" class="ui-btn-left">Back</a>
        </div>
        <div data-role="content" class="movieView"></div>
    </section>
    @* *** Movie *** *@
    <section id="movie">
        <div data-role="header">
            <h2></h2>
            <a href="#" class="ui-btn-left">Back</a>
        </div>
        <div data-role="content" class="movieView"></div>
    </section>
</div>