@model List<movies.Model.Movie>

@{
    ViewBag.Title = "Movie Ratings - Top Box Office";
}

@section ExtraHeadContent {
    <script src="@Url.Content("~/scripts/codejkjk.movies.HomeIndex.js")"></script>
}

<div id="container">
    this is top box office page.
</div>
