@{
    var loggedInClass = Request.IsAuthenticated ? "loggedIn" : "";
}

<div class="row bigBottomBuffer">
    <form class="linkForm form form-inline" role="form">
        <input type="url" class="form-control @loggedInClass" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
        @if (Request.IsAuthenticated)
        {
            <span>http://urlme.cc/</span><input type="text" class="path form-control" placeholder="custom-path (optional)" data-bind="value: path" />    
        }
        <button type="submit" class="btn btn-primary">Shorten</button>
        <div class="result @loggedInClass" data-bind="visible: result" style="display:none"><span class="arrow noSelect">➔</span><span data-bind="text: result"></span></div>
    </form>
</div>

<div class="row">
    <div class="alert alert-warning" data-bind="visible: message" style="display:none;">
        <strong>Oops!</strong> <span data-bind="html: message"></span>
    </div>
</div>