<div class="row bigBottomBuffer">
    <form class="linkForm form form-inline" role="form">
        @*<div class="form-group">*@
            <input type="url" class="form-control" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
            @if (Request.IsAuthenticated)
            {
                <span>http://urlme.cc/</span><input type="text" class="path form-control" placeholder="custom-path (optional)" data-bind="value: path" />    
            }
            <button type="submit" class="btn btn-primary">Shorten</button>
            <div class="result" data-bind="visible: result">➔ <span data-bind="text: result"></span></div>
        @*</div>*@
    </form>
</div>

<div class="row">
    <div class="panel panel-warning" data-bind="visible: message">
        <div class="panel-body form-inline">
            <span data-bind="text: message"></span>
        </div>
    </div>
</div>