@model List<urlme.data.Models.Link>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>
        <tr>
            <th>UrlMe Link</th>
            <th>Destination Url</th>
            <th># Hits</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var link in this.Model)
        {
            <tr>
                <td>http://urlme.cc/@link.Path</td>
                <td>@link.DestinationUrl.Snippet()</td>
                <td>@link.HitCount.ToString("#,#0")</td>
                <td>@link.CreateDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </tbody>
</table>
