@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="provider" />
    
        <div class="row bottomBuffer">
            Sign in to manage your links:
        </div>    
    
        <div class="row bottomBuffer">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                var className = p.AuthenticationType == "Google" ? "google-plus" : p.AuthenticationType;
                className = className.ToLower();
                
                <div class="col-xs-6">
                    <a href="#" onclick="$('input[name=provider]').val('@p.AuthenticationType'); $(this).closest('form').submit(); return false;" class="btn btn-block btn-social btn-@className">
                        <i class="fa fa-@className"></i> Sign in with @p.AuthenticationType
                    </a>
                </div>
            }
        </div>
    }
}