@using Microsoft.Owin.Security
@{
    var exampleLink = "http://urlme.cc/hokie-football";
    var addBookmarklet = "javascript:(function(){  var url='http://urlme.cc', w=362, h=338, left=window.screenX + ((screen.width/2)-(w/2)), top=85; window.open(url + '/add?url=' + encodeURIComponent(document.location), 'UrlMe', 'status=1,width='+w+',height='+h+',left='+left+',top='+top+',scrollbars=no,toolbar=no'); })();";
}
    
<input type="hidden" name="provider" />
    
<div class="row bottomBuffer">
    Sign in to create links with your own custom path, like <a href="@exampleLink" target="_blank">@exampleLink</a>:
</div>    
    
<div class="row bigBottomBuffer signInButtons">
    @* google sign in *@
    <div class="col-xs-12 col-sm-6">
        <form id="openIdLoginForm" action="account/openid-sign-in" method="post" style="display:none;">
            <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id">
        </form>
        <a href="#" onclick="$('#openIdLoginForm').submit(); return false;" class="btn btn-block btn-social btn-google-plus">
            <i class="fa fa-google-plus"></i> Sign in with Google
        </a>
    </div>

    @* facebook sign in *@
    <div class="col-xs-12 col-sm-6">
        <a href="#" onclick="alert('working on this...'); return false;" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
    </div>
</div>
    
<div class="bookmarklets">
    <div class="row bottomBuffer">
        Drag'n'drop the below bookmarklets into your toolbar to make it easy to manage your links:
    </div>
    <div class="row bottomBuffer">
        <div class="col-xs-2 col-xs-offset-1"><a href="@addBookmarklet">+urlme</a></div>
        <div class="col-xs-9 description">— click this on any page you want to shorten</div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1"><a href="http://urlme.cc">urlme.cc</a></div>
        <div class="col-xs-9 description">— this will take you to your saved links</div>
    </div>
</div>