@{
    ViewBag.Title = "admin.ianhd.com";
}

<h1><a href="~/">admin.ianhd.com</a></h1>

<div id="homeIndex">
    <a class="button" href="~/sitefeatures/1">Daily Taglines</a>
    <a class="button" href="~/sitefeatures/2">Daily Bulldog</a>
</div>
