@{
    ViewBag.Title = "admin.ianhd.com";
}

<div id="homeIndex">
    <a class="button" href="~/sitefeature/1">Taglines</a>
    <a class="button" href="~/sitefeature/2">Daily Bulldog</a>
</div>
