html{font-size:12px;color:#333;background:#f5f5f5;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
strong{font-weight:bold;}
html{/* background: url("content/bg.png") repeat-x scroll 0 0 #CCCCCC; */ /* #ccc; */} /* dark gray = #535156 */
body{font-size:13px;font-family:Arial, "Helvetica Neue", Helvetica, Sans-Serif;}

.group:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

html {
    background: url('images/bg.gif');
}
.noSelect { -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/*.noSelect::-moz-selection { background: transparent; } 
.noSelect::selection { background: transparent; }*/

a { color: #660b5a; font-weight: bold; }
.borderLeft { border-left-color: #333; }
h1 { font-size: 14px; }
.hint { font-style: italic; font-size: 90%; }

#dt { padding: 30px; margin: 0 auto; width: 816px; }
#m { padding: 25px; }

.body { padding: 30px; border-top-left-radius: 3px; border-top-right-radius:3px; margin-top: 30px; background: white; }
footer { font-family: 'Courier New'; font-size: 14px; font-weight: bolder; }

.orderTicketsContainer { text-align: center; }
    .orderTicketsContainer .orderTickets { text-decoration: none; margin-top: 30px; background: #660b5a; display: inline-block; color: white; font-weight: bold; font-size: 18px; padding: 10px 14px; border-radius: 3px; /*text-shadow: 0 -1px 1px #65b145;*/ }

#dt header { color: #333; background: url('images/blank-ticket-4.png') no-repeat; width: 816px; height: 200px; border-radius: 3px; position: relative; }
    #dt header #quickDetails { position: absolute; top: 42px; right: 25px; font-family: 'Courier New'; font-size: 24px; font-weight: bolder; }
        #dt header #quickDetails > div { text-align: center; }
        #dt header #quickDetails .where { font-size: 14px; margin-top: 26px; }

#dt .col { float: left; line-height: 19px; text-align: justify; }
#dt h2 { font-size: 20px; font-weight: bold; margin-bottom: 30px; text-align: center; }
#dt .body .left { padding-right: 30px; width: 347px; }
#dt .body .right { border-left: 4px dashed darkgray; padding-left: 30px; width: 343px; line-height: 15px; }
    #dt .body .right img { width: 210px; float: left; margin-left: -12px; margin-right: 15px; }

#dt footer { background: url('images/footer-bg.jpg') no-repeat; width: 816px; height: 200px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
    #dt footer > div { float: left; }
        #dt footer .left, #dt footer .right { padding: 0; line-height: 19px; }
    #dt footer .left { text-align: right; padding: 60px 13px 0 0; width: 337px; }
    #dt footer .right { text-align: left; padding: 42px 0 0 20px; }
        #dt footer .middle { height: 180px; width: 116px; height: 175px; background: url('images/chalk.png'); margin-top: 18px; }

#m { font-size: 15px; }
#m header { color: #333; text-align: center; font-family: 'Courier New'; font-weight: bolder; }
    #m header .img { background: url('images/m-header-4.png') no-repeat #fff; background-position: top center; height: 110px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
    #m header div.headerFooter { color: #333; padding: 25px 0 10px 0; background: url('images/m-blue-bg.jpg') repeat-x; background-position: top; line-height: 19px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

#m .body { padding: 25px; margin-top: 25px; }

#m h2 { font-size: 20px; font-weight: bold; margin-bottom: 20px; text-align: center; }
    #m .justify { text-align: justify; }
#m .aboutPlay { line-height: 19px; }
#m .aboutCause { line-height: 15px; }
    #m .aboutCause img { width: 150px; float: left; margin-right: 15px; margin-left: -4px; }
    
    #m .aboutPlay .orderTickets { margin-top: 20px; }

    #m .borderTop { border-top: 4px dashed darkgray; margin-top: 25px; padding-top: 20px; }

    #m footer { font-weight: bolder; font-size: 15px; line-height: 19px; padding: 25px 25px 18px 25px; text-align: center; background: url('images/m-blue-bg.jpg') repeat-x; background-position: top; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.orderIndex form > div { clear: both; }
.orderIndex form > div label:first-child { font-weight: bold; margin-right: 15px; display:block; margin-bottom: 10px; }
.orderIndex form > div:not(:first-child) { margin-top:20px; }
.orderIndex .hint { margin: 10px 0 14px 0; }
.orderIndex .counter span, .orderIndex .counter button { float: left; display: inline-block; font-weight: bold; }
.orderIndex .counter button { border: none; }
.orderIndex .countButton { cursor: pointer; padding: 8px 15px; background: #4c4c4c; color: white; font-size: 22px; border-radius: 24px; }
.orderIndex .countDisplay { border-radius: 3px; padding: 12px 16px; margin: 0 20px; border: 1px solid #999; color: #333; }
.orderIndex .operand { margin: 0 20px; font-style: normal; }
.orderIndex input[type='text'], .orderIndex input[type='email'] { padding: 5px; font-size: 16px; outline: none; border: 1px solid #ccc; border-radius: 3px; width: 164px; }
.orderIndex .payButton { height: 39px; margin-top: 30px; }
.orderIndex .payButton form { display: none; }

.dt.orderIndex .counter { float: left; margin-right: 20px; }
.dt.orderIndex .ticketSummary { margin-top: 12px; float: left; } 

#m .playDates label span { font-size: 14px; }

.playDates label.ui-state-active { border-color: #333; }

header, footer, nav, section {
    display: block;
}

#dt { display: none; }

/* non-smart phone */
@media only screen and (min-width: 600px) {
    #dt { display: block; }
    #m { display: none; }
}
