@{
    Layout = null;
    var isSignedIn = urlme.data.Models.User.Current.IsAuthenticated;
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Site.min.css")
    <link rel="icon" href="~/content/link.png" />
</head>
<body>
    <div class="container addSignIn">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="row bigBottomBuffer">
                @if (!isSignedIn)
                {
                    <h3>Signing in is easy. Click on one of the two options below.</h3>
                }
                else
                {
                    <h3>Done! Now alt+tab back over to your popup, where you are now signed in.</h3>
                }
            </div>
            <div class="row">
                @if (!isSignedIn)
                {
                    @* google sign in *@
                    <div class="col-xs-6">
                        <form id="openIdLoginForm" action="account/openid-sign-in" method="post" style="display:none;">
                            <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id">
                        </form>
                        <a href="#" onclick="$('#openIdLoginForm').submit(); return false;" class="btn btn-block btn-social btn-google-plus">
                            <i class="fa fa-google-plus"></i> Sign in with Google
                        </a>
                    </div>

                    @* facebook sign in *@
                    <div class="col-xs-6">
                        <a href="#" onclick="alert('working on this...'); return false;" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Sign in with Facebook
                        </a>
                    </div>                    
                }
            </div>
        </div>
    </div>
    
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/Scripts/ianhd/ianhd.app.min.js?v=" + urlme.site.MvcApplication.ApplicationBuild)
</body>
</html>
