@using Microsoft.AspNet.Identity
@model List<urlme.data.Models.Link>

@{
    ViewBag.Title = "Home Page";
}

<div class="row col-xs-offset-3 col-xs-6 bottomBuffer">
    @{ Html.RenderPartial("_Header"); }
    @{ Html.RenderPartial("_LinkForm"); }
    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("_NotLoggedIn");
    }
</div>

@if (Request.IsAuthenticated)
{
    <div class="row">
        @Html.Partial("_LoggedIn")
    </div>
}

@section scripts
{
    <script>
        var viewModel = ko.mapping.fromJS({
            link: '',
            longUrl: '',
        });
        ko.applyBindings(viewModel);
        function removeHash() {
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }
        removeHash();
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
}