@using Microsoft.AspNet.Identity
@model List<urlme.data.Models.Link>

@{
    ViewBag.Title = "Home Page";
}

<div class="row col-xs-offset-1 col-xs-10 bottomBuffer">@*col-xs-offset-3 col-xs-6*@
    @{ Html.RenderPartial("_Header"); }
    @{ Html.RenderPartial("_LinkForm"); }
    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("_NotLoggedIn");
    }
    else
    {
    <div class="row">
        @Html.Partial("_LoggedIn")
    </div>        
    }
</div>

@section scripts
{
    <script>
        var viewModel = ko.mapping.fromJS({
            result: '',
            longUrl: '',
            path: '',
            signedIn: @Request.IsAuthenticated.ToString().ToLower(),
            items: []
        });
        ko.applyBindings(viewModel);
        var dt = $("#example").dataTable();
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
}