@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated) {
    
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>    
    
    <div class="row text-right bottomBuffer">
        <a href="#">@User.Identity.Name.Email() ▼</a>
    </div>
}
<div class="row">
    <form class="form" role="form">
        <div class="form-group col-md-10">
            <input type="url" class="form-control" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Shorten</button>
        </div>
    </form>
</div>
@*<button id="copyLink" class="btn btn-primary" data-clipboard-text="Copy me!">Copy to clipboard</button>*@
<div class="row bottomBuffer" data-bind="visible: link">
    <span data-bind="text: link"></span>
</div>
@if (!Request.IsAuthenticated)
{
    Html.RenderPartial("_NotLoggedIn");
}
else
{
    <div>Logged in! name=@User.Identity.Name.Email()</div>
}

@Html.Partial("_LoginPartial")

@section scripts
{
    <script>
        var viewModel = ko.mapping.fromJS({
            link: '',
            longUrl: '',
        });
        ko.applyBindings(viewModel);
        function removeHash() {
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }
        removeHash();
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
}