@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <form class="form" role="form">
        <div class="form-group col-md-10">
            <input type="url" class="form-control" placeholder="Paste a link to shorten it" autofocus="autofocus" data-bind="value: longUrl" />
        </div>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Shorten</button>
        </div>
    </form>
</div>
@*<button id="copyLink" class="btn btn-primary" data-clipboard-text="Copy me!">Copy to clipboard</button>*@
<div class="row bottomBuffer" data-bind="visible: link">
    <span data-bind="text: link"></span>
</div>
@if (!Request.IsAuthenticated)
{
    Html.RenderPartial("_NotLoggedIn");
}

@Html.Partial("_LoginPartial")

@section scripts
{
    <script>
        var viewModel = ko.mapping.fromJS({
            link: '',
            longUrl: '',
        });
        ko.applyBindings(viewModel);
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
}