@{ 
    var isAuthenticated = urlme.data.Models.User.Current.IsAuthenticated;
}

@{
    var widthXS = isAuthenticated ? 12 : 12;
    var offsetXS = isAuthenticated ? 0 : 0;
    
    var widthSM = isAuthenticated ? 10 : 6;
    var offsetSM = isAuthenticated ? 1 : 3;
}

<div class="row col-xs-offset-@offsetXS col-xs-@widthXS col-sm-@widthSM col-sm-offset-@offsetSM bottomBuffer">@*col-xs-offset-3 col-xs-6*@
    @{ Html.RenderPartial("_Header"); }
    @{ Html.RenderPartial("_LinkForm"); }
    @if (!isAuthenticated)
    {
        Html.RenderPartial("_NotLoggedIn");
    }
    else
    {
    <div class="row">
        @Html.Partial("_LoggedIn")
    </div>        
    }
</div>

@section scripts
{
    <script>
        var si = @isAuthenticated.ToString().ToLower();
    </script>
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/Scripts/ianhd/ianhd.app.min.js?v=" + urlme.site.MvcApplication.ApplicationBuild)
}