@using Microsoft.AspNet.Identity
@model List<urlme.data.Models.Link>

@{
    ViewBag.Title = "Home Page";
}

@{
    var widthXS = Request.IsAuthenticated ? 12 : 12;
    var offsetXS = Request.IsAuthenticated ? 0 : 0;
    
    var widthSM = Request.IsAuthenticated ? 10 : 6;
    var offsetSM = Request.IsAuthenticated ? 1 : 3;
    
}
<div class="row col-xs-offset-@offsetXS col-xs-@widthXS col-sm-@widthSM col-sm-offset-@offsetSM bottomBuffer">@*col-xs-offset-3 col-xs-6*@
    @{ Html.RenderPartial("_Header"); }
    @{ Html.RenderPartial("_LinkForm"); }
    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("_NotLoggedIn");
    }
    else
    {
    <div class="row">
        @Html.Partial("_LoggedIn")
    </div>        
    }
</div>

@section scripts
{
    <script>
        var viewModel = ko.mapping.fromJS({
            result: '',
            message: '',
            longUrl: '',
            path: '',
            signedIn: @Request.IsAuthenticated.ToString().ToLower(),
            items: [],
            loading: true
        });
        ko.applyBindings(viewModel);
        var dt = null; // for datatable
        var zClipSwfPath = 'ZeroClipboard.swf';
    </script>
    @Scripts.Render("~/scripts/ianhd/ianhd.home.index.js")
}