@{
    ViewBag.Title = "ianhd.com — the url shortener";
}

<div id="controls">
    <div class="autoGenerate group">
        <input class="input" name="url" type="url" placeholder="Paste your long URL here" autofocus="autofocus" /><button class="blueButton">Shorten URL</button>
    </div>
    <div class="or">— or —</div>
    <div class="custom">
        Sign in to create custom links, like <a href="http://urlme.cc/awesome">http://urlme.cc/awesome</a>:
    </div>
</div>
