html{font-size:12px;color:#333;background:#f5f5f5;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
strong{font-weight:bold;}
html{/* background: url("content/bg.png") repeat-x scroll 0 0 #CCCCCC; */ /* #ccc; */} /* dark gray = #535156 */
body{font-size:12px;font-family:Arial, "Helvetica Neue", Helvetica, Sans-Serif;}

.group:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* common */
.alert { color:#b11e24 }

/* css 3... */
.rounded { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.orangeDiag 
{
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e76801), color-stop(0.25, #e76801), color-stop(0.25, #ec7f24), color-stop(0.5, #ec7f24), color-stop(0.5, #e76801), color-stop(0.75, #e76801), color-stop(0.75, #ec7f24));
	background-image: -webkit-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
	background-image: -moz-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
	background-image: -ms-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
	background-image: -o-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76801', endColorstr='#ec7f24',GradientType=0 ); /* IE6-8 */
	background-image: linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
    background-size: 20px 20px;
}

/* our review icons */
.ourReview span { float: left; background: url("content/images/rt-sprite4.png"); display:inline-block; width: 21px; height: 26px; margin-right: 10px; }
.ourReview a { color: #2489ce; }
.ourReview.medium { line-height: 23px; }
.ourReview.medium .seeIt { background-position: 0 -149px; }
.ourReview.medium .orNot { background-position: -21px -159px; }

/* rt icons */
.rottenTomato,.sion,.imdbRatingPlugin .icon { background: url("content/images/rt-sprite4.png") no-repeat scroll left center transparent; }

.ratings { margin-top:10px; font-weight: bold; overflow:auto; }
.ratings span.rottenTomato, .ratings span.rt.text, .ratings span.icon { float: left; display:inline-block; } /* todo: repetitive? */
.ratings .imdbRatingPlugin { margin: 0; display: inline-block; float: left; }

/* small set */
.ratings.small { font-size: 15px; }
.ratings.small .icon { width: 24px; height: 24px; }
.ratings.small .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; }
.ratings.small .text { margin-top:3px; padding-left: 6px; margin-right: 12px; }
.ratings.small .imdbRatingPlugin .icon { background-position: -1px -125px; margin-right: 8px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -287px -49px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -288px -96px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -291px -24px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -288px -119px; }
.ratings.small .icon.sion { width: 19px; height: 24px; }
.ratings.small .icon.sion.seeIt { background-position: -150px -72px; }
.ratings.small .icon.sion.orNot { background-position: -150px -99px; }

.ratings.medium { font-size: 18px; }
.ratings.medium .icon { width: 32px; height: 32px; }
.ratings.medium .rt.text:after { content: '%'; vertical-align: super; font-size: 10px; }
.ratings.medium .text { margin-top:5px; padding-left: 13px; margin-right:12px; }
.ratings.medium .icon.imdb { background-position: -160px -130px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -63px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -95px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -32px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -127px -127px; }

.ratings.smaller { font-size: 14px; }
.ratings.smaller .icon { width: 14px; height: 14px; margin-top:1px; }
.ratings.smaller .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; } /* text */
.ratings.smaller .text { margin-top: 0; padding-left: 4px; margin-right: 8px; }
.ratings.smaller .imdbRatingPlugin .icon { background-position: -277px -161px; margin-right: 5px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -257px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -273px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -289px -145px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -209px -144px; }
.ratings.smaller .icon.sion { width: 12px; height: 15px; }
.ratings.smaller .icon.sion.seeIt { background-position: -212px -160px; }
.ratings.smaller .icon.sion.orNot { background-position: -200px -160px; }