/* our review icons */
.ourReview span { float: left; background: url("content/images/rt-sprite4.png"); display:inline-block; width: 16px; height: 20px; margin-right: 10px; }
.ourReview a { color: #2489ce; }
.ourReview.medium { line-height: 23px; }
.ourReview.medium .seeIt { background-position: -135px -5px; }
.ourReview.medium .orNot { background-position: -168px -5px; }

/* rt & imdb icons */
.rottenTomato,.imdb,.sion { background: url("content/images/rt-sprite4.png") no-repeat scroll left center transparent; }

.ratings { margin-top:10px; font-weight: bold; overflow:auto; }
.ratings span { float: left; display:inline-block; }

/* small set */
.ratings.small { font-size: 15px; }
.ratings.small .icon { width: 24px; height: 24px; }
.ratings.small .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; }
.ratings.small .text { margin-top:3px; padding-left: 6px; margin-right: 12px; }
.ratings.small .icon.imdb { background-position: -1px -125px; margin-right: 8px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -287px -49px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -288px -96px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -291px -24px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -288px -119px; }

.ratings.medium { font-size: 18px; }
.ratings.medium .icon { width: 32px; height: 32px; }
.ratings.medium .rt.text:after { content: '%'; vertical-align: super; font-size: 10px; }
.ratings.medium .text { margin-top:5px; padding-left: 13px; margin-right:12px; }
.ratings.medium .icon.imdb { background-position: -160px -130px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -63px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -95px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -32px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -127px -127px; }

.ratings.smaller { font-size: 14px; }
.ratings.smaller .icon { width: 14px; height: 14px; margin-top:1px; }
.ratings.smaller .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; } /* text */
.ratings.smaller .text { margin-top: 0; padding-left: 4px; margin-right: 8px; }
.ratings.smaller .icon.imdb { background-position: -277px -161px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -257px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -273px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -289px -145px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -209px -144px; }
.ratings.smaller .icon.sion { width: 12px; height: 15px; }
.ratings.smaller .icon.sion.seeIt { background-position: -212px -160px; }
.ratings.smaller .icon.sion.orNot { background-position: -200px -160px; }