/* -- Reset -- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
object { outline: none; }
strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }
:focus {
	outline: 0;
}

body { font-size: 14px; }

.group:after {visibility: hidden;display: block;content: "";clear: both;height: 0;}
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

div.logo { height: 105px; padding: 0px; background-color: #000; }
div.logo a { margin:0 auto; display:block; background: url('content/logo4_4.png'); background-repeat:no-repeat; height: 105px; width: 349px;}

.hidden { display: none; }
div.loading { position: fixed; top: 5px; right: 5px; display:none; background: url('content/images/ajax-loader-blue-ribbon.gif') no-repeat center left; width: 16px; height: 16px; }

a { text-decoration: none; color: #2489CE; font-weight: bold; }

/* jquery mobile overrides */
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit { padding-left: 75px; min-height: 73px; }
.ui-li-thumb, .ui-listview .ui-li-icon { max-height: 91px; }
.ul-li-heading { float: left; }
/* #showtimes > #theaters div[data-role='header'] h1 { margin: .6em 10px .8em; text-align: left; } */
.ui-btn-hover-c  
{
    background: -moz-linear-gradient(#FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE; 
    background: -webkit-linear-gradient(top,#FDFDFD,#EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EEEEEE));
    border-color: #CCC; 
} /* copy of .ui-btn-up-c's background property. confusing to user if background changes on hover ("am I accidentally selecting this??") */
.ui-icon { z-index: 1000; }

/* movie list */
p { color: #535156; } /* grey bullet color */

.mpaaRating { margin-left: 10px; color: #465F82; font-size: 12px; font-weight: bold; }

[data-releasedate] { margin-top: 10px; display:block; font-size: 15px; font-weight: normal; }

/* MovieIndexMobile page */
.movieView { padding: 10px; }
.movieView img { float: left; margin-right: 10px; margin-bottom: 10px; }
.movieView p { margin-bottom: 10px; font-size: 18px; }
.movieView .ratings { margin:0px; float: left; }
    .movieView .ratings > .icon, .movieView .ratings > .imdbRatingPlugin { clear: left; margin-left: 0; }
    .movieView .ratings > span { margin-bottom: 10px; }
.movieView .links, .movieView .ourReview { clear: left; }
    .movieView .links a:first-child { margin-right:20px; }
.movieView .mpaaRating { font-size: 24px; margin: 0; }

/* google places */
.pac-item { font-size: 18px; padding: 5px; }

#showtimes > div[data-role='content'] > div { margin-top: 10px; font-size: 140%; }
#theaters .favoriteLink { float: left; height: 36px; width: 19px; padding: 0 10px; margin-top: 3px; }
#theaters .favoriteLink.lit { background:url('content/images/icons/star_lit.png') no-repeat center center transparent; }
#theaters .favoriteLink.default { background:url('content/images/icons/star_default.png') no-repeat center center transparent; }
        
#theater .movie p { margin-top: 10px; }
#theater .movie img { float: left; margin: 0; }
#theater .movie .showtimes { word-wrap: break-word; }

/* slider movies */
body { -webkit-user-select:none; -webkit-text-size-adjust:none; }
body,ul,li { padding: 0; margin: 0; } /* this may already be done in common.css */
.sliderWrapper { /* position:relative; z-index:1;	width:100%;	overflow:auto; height:91px; */ }
.sliderWrapper ul { /* height:100%; float:left; */ }
.sliderWrapper ul li { background:none; /* display:block; float:left; height:100%; */ padding: 10px 0 0 10px; float: left; }
.sliderWrapper ul li a { /* display:block; height:100%; */ }
    .sliderWrapper ul li a img { float: left; }

/* todo --- */
#theater li { overflow: auto; }

#showtimes #options, #showtimes #theaters, #theatermovie h2 a { display:none; }

/* screw it, jquery mobile. styles that look like jquery mobile... */
li { background: -moz-linear-gradient(white,#F1F1F1) repeat scroll 0 0 #F1F1F1; background: -webkit-linear-gradient(top, white, #F1F1F1); background: -webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#F1F1F1)); border-color: #CCC; }
li:hover { background: -moz-linear-gradient(#FDFDFD,#EEE) repeat scroll 0 0 #EEE; background: -webkit-linear-gradient(top, #FDFDFD, #EEE); background: -webkit-gradient(linear,0% 0%,0% 100%,from(#FDFDFD),to(#EEE)); border-color: #CCC; }
    li.movie a { position:relative; text-decoration: none; color: #2F3E46; }
    li.movie a > img { float: left; padding-right: 15px; }
    li.movie a > span.details { height: 76px; display: block; padding-top: 15px; }
        li.movie a h3, li.theater a h3 { color: #2F3E46; font-size: 16px; font-weight: bold; display:block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    li.movie a > span.rightArrow { opacity: 0.5; position: absolute; top: 28px; right: 5px; background: url('content/images/rt-sprite4.png') -76px -85px; width: 25px; height: 35px; display:inline-block; float: right; }

h2 { position: relative; border-bottom: 1px solid #B3B3B3; background: #EEE; color: #3E3E3E; font-weight: bold; text-shadow: 0 1px 1px white; background-image: -webkit-gradient(linear,left top,left bottom,from(#F0F0F0),to(#DDD)); background-image: -webkit-linear-gradient(#F0F0F0,#DDD); background-image: -moz-linear-gradient(#F0F0F0,#DDD); background-image: -ms-linear-gradient(#F0F0F0,#DDD); background-image: -o-linear-gradient(#F0F0F0,#DDD); background-image: linear-gradient(#F0F0F0,#DDD); font-size: 16px; padding: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    h2 a.back { padding-right: 10px; font-size: 16px; padding-top: 10px; }
    h2 a.right { position: absolute; top: 0; right: 10px; font-size: 16px; padding-top:10px; }
        
#showtimeDays { text-align: left; }
    #showtimeDays a { color: #3E3E3E; font-weight:normal; }
    #showtimeDays a:not(:last-child) { margin-right: 10px; }
    #showtimeDays a.active { color: #2489CE; font-weight: bold; }
        
.shadow { -moz-box-shadow: 0px 1px 2px 0px #145072; -webkit-box-shadow: 0px 1px 2px 0px #145072; box-shadow: 0px 1px 2px 0px #145072; }
    
    li.theater a h3 { padding: 12px 0; }
    
/* jquery ui autocomplete */
.ui-menu .ui-menu-item img { float: left; margin-right: 10px; }
.ui-menu .ui-menu-item .right { float: left; }
.ui-menu .ui-menu-item .right div.cast { color: #666; font-size: 12px; margin-top: 5px; }    
    
#body.small { float: left; width: 30%; }    

/* menu */
#menu { float: left; width: 70%; display:none; }
#menu.big { width: auto; float: none; }
    #menu #search { padding: 15px; }
    #menu a:not(#cancelSearch) { display:block; padding: 15px; font-size: 16px; background: -moz-linear-gradient(white,#F1F1F1) repeat scroll 0 0 #F1F1F1; background: -webkit-linear-gradient(top, white, #F1F1F1); background: -webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#F1F1F1)); border-color: #CCC; }
    #menu #cancelSearch { display:none; }
#menu #search #left { width:100%; display:table-cell; }
    #menu #search #left input { width:100%; }
#menu.big #search #cancelSearch { display:table-cell; padding-left: 27px; vertical-align:middle; }
#menu.big #menuItems { display: none; }

nav, section { display:block; }
nav { padding: 12px 0 10px 0; border-bottom: 1px solid #B3B3B3; }
nav > a { font-weight: bold; color: #fff; text-decoration: none; margin-right: 10px; text-shadow: 0 -1px 1px #65b145; }
nav > a.selected { background: #65b145; padding: 12px 12px 10px 12px; text-shadow:none; }

#search { padding: 15px; }
    #search #cancelSearch { display: none; }

/*nav > #q { float:right; margin-top:-6px; position: relative; }
    nav > #q > input[type='text'] { padding: 6px; outline: none; width: 262px; border: 1px solid #ccc; font-size: 14px; }
    nav > #q > input[type='submit'] { cursor:pointer; border: none; color: transparent; font-size: 0; background: url('content/images/rt-sprite4.png') -106px -107px; width: 18px; height: 18px; display: inline-block; position: absolute; top: 7px; right: 10px; opacity: 0.4; }*/
    
/* nav */
h1 { position: relative; }
h1 a#menuLink { font-size: 16px; position:absolute; left: 0; width: 45px; padding:0; height:35px; }
    h1 a#menuLink span { display: block; border-bottom: 2px solid #fff; margin: 7px 10px; }
h1 a { display:block; text-align:center; border: 1px solid #2373A5; text-shadow: 0 1px 1px #145072; background-image: -webkit-gradient(linear,left top,left bottom,from(#5393C5),to(#6FACD5)); background-image: -webkit-linear-gradient(#5393C5,#6FACD5); background-image: -moz-linear-gradient(#5393C5,#6FACD5); background-image: -ms-linear-gradient(#5393C5,#6FACD5); background-image: -o-linear-gradient(#5393C5,#6FACD5); background-image: linear-gradient(#5393C5,#6FACD5); text-decoration: none; color: #fff; padding: 10px 0;  }
        
/* content box */
[data-role="content"] { background:#eee; border-bottom: 1px solid #B3B3B3; }
.movieList[data-role="content"] { padding-bottom: 10px; }
    
/* showtimes options */
#options { padding: 15px; }

/* all textboxes */    
input[type='text'] { padding: .4em; line-height: 1.4; font-size: 16px; display: block; width: 97%; outline: 0; -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2); box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2); -moz-border-radius: .6em; -webkit-border-radius: .6em; border-radius: .6em; }