html{font-size:12px;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
html{font-family:Arial; }
strong { font-weight: bold; }

div.logo { height: 80px; padding: 10px; background-color: #000; }
div.logo a { margin:0 auto; display:block; background: url('content/logo_mobile.png'); background-repeat:no-repeat; height: 80px; width: 224px;}

.hidden { display: none; }

/* jquery mobile overrides */
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit { padding-left: 75px; min-height: 73px; }
.ui-li-thumb, .ui-listview .ui-li-icon { max-height: 91px; }
.ul-li-heading { float: left; }
#showtimesHeader > h1 { margin: .6em 10px .8em; text-align: left; } 
.ui-btn-hover-c  
{
    background: -moz-linear-gradient(#FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE; 
    background: -webkit-linear-gradient(top,#FDFDFD,#EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#EEEEEE));
    border-color: #CCC; 
} /* copy of .ui-btn-up-c's background property. confusing to user if background changes on hover ("am I accidentally selecting this??") */
.ui-icon { z-index: 1000; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right { top: -2px; }

/* movie list */
p { color: #535156; } /* grey bullet color */

.mpaaRating { margin-left: 10px; color: #465F82; font-size: 12px; font-weight: bold; }

.releaseDate { margin-top: 10px; font-size: 12px; }

/* MovieIndexMobile page */
#MovieIndexMobile img { float: left; margin-right: 10px; margin-bottom: 10px; }
#MovieIndexMobile p { margin-bottom: 10px; font-size: 18px; }
#MovieIndexMobile .ratings { margin:0px; float: left; }
    #MovieIndexMobile .ratings > .icon { clear: left; margin-left: 0; }
    #MovieIndexMobile .ratings > span { margin-bottom: 10px; }
#MovieIndexMobile .links { clear: left; }
    #MovieIndexMobile .links a:first-child { margin-right:20px; }
#MovieIndexMobile .mpaaRating { font-size: 24px; margin: 0; }

/* google places */
.pac-item { font-size: 18px; padding: 5px; }

#showtimes > div[data-role='content'] > div { margin-top: 10px; font-size: 120%; }
#theaters .favoriteLink { float: left; height: 36px; width: 19px; padding: 0 10px; margin-left: -10px; }
#theaters .favoriteLink.lit { background:url('content/images/icons/star_lit.png') no-repeat center center transparent; }
#theaters .favoriteLink.default { background:url('content/images/icons/star_default.png') no-repeat center center transparent; }
        
#theater .movie p { margin-top: 10px; }
#theater .movie img { float: left; margin: 0; }
#theater .movie .showtimes { padding: 0 0 0 10px; word-wrap: break-word; }

/* todo --- */
#theater li { overflow: auto; }

#showtimes #options, #showtimes #theaters, #theatermovie div[data-role='header'] a { display:none; }