/* blue color from Fischer's logo = #2489CE */
/* jQuery mobile's blue = #2489CE */

body { color: #535156; }
.hidden { display:none; }
a:focus { outline: none; } /* firefox */
a { text-decoration: none; color: #535156 /* #465F82 */; }
span.divider { color: #CDCDCD; font-weight: normal; margin: 0 5px; }
.leftShadow { -webkit-box-shadow: -5px 5px 5px #ccc; -moz-box-shadow: -5px 5px 5px #ccc; box-shadow: -5px 5px 5px #ccc; }
.bottomShadow { -webkit-box-shadow: 0 2px 8px #999; -moz-box-shadow: 0 2px 8px #999; box-shadow: 0 2px 8px #999;  }
.glowing { box-shadow: 2px 2px 2px #999; -webkit-box-shadow: 2px 2px 2px #999; -moz-box-shadow: 2px 2px 2px #999; }
.rightArrow { border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-left: 30px solid #C5D8E6; }
div.loading { background: url('content/images/ajax-loader-blue-ribbon.gif') no-repeat center left; width: 16px; height: 16px; display:inline-block; }
.placeholder { color: #6B696A; } /* for non-html5-compatable browsers, use this class in the salem.form.smartTextBox() function to make it function like html 5's placeholder attr */
/* orig: second hex in glowing = #eee */
.gradient { background: white; /* fallback */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#e8e8e8)); 
            background: -webkit-linear-gradient(top, #ffffff, #e8e8e8); 
            background: -moz-linear-gradient(top, #ffffff, #e8e8e8); }
.redGradient { background: #DC3035; /* fallback */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DC3035), to(#A20608)); 
            background: -webkit-linear-gradient(top, #DC3035, #A20608); 
            background: -moz-linear-gradient(top, #DC3035, #A20608); }
.redGradient:not(.noHover):hover { background: #BE050E; /* fallback */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BE050E), to(#EB242F)); 
            background: -webkit-linear-gradient(top, #BE050E, #EB242F); 
            background: -moz-linear-gradient(top, #BE050E, #EB242F); }            
.blueGradient { background: #4c98e4; /* fallback */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c98e4), to(#2d62ae)); 
            background: -webkit-linear-gradient(top, #4c98e4, #2d62ae); 
            background: -moz-linear-gradient(top, #4c98e4, #2d62ae); }
.greenGradient { background: #65b145; /* fallback */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79d153), to(#65b145)); 
            background: -webkit-linear-gradient(top, #79d153, #65b145); 
            background: -moz-linear-gradient(top, #79d153, #65b145); }                       
/* -- Floating Containers --- */
.movie a[data-role='Reviewer'] { display:none; position: absolute; top: 5px; right: 5px; }
#movieDetailsPopup a[data-role='Reviewer'] { display:none; position: fixed; top: 100px; left: 538px; }
.movie a[data-role='Admin'] { display:none; position: absolute; top: 40px; right: 5px; }
#adminToggle { position: fixed; top: 10px; left: 10px; padding: 5px; }
#editForm textarea { width: 258px; height: 62px; padding: 6px 8px; }
#editForm input[type='text'] { width: 264px; padding: 4px; }
form.admin > div, form.admin > p { margin-top: 10px; }
form.admin > p { font-weight: bold; }
form.admin label.withCheckbox { float: left; width: 186px; line-height: 28px; }
#adminForm .list span { float:left; display:inline-block; }
#adminForm .list .icon { background: url('content/images/rt-sprite4.png') -152px -5px; width:16px; height: 20px; margin-left:10px; }
#adminForm .list .text { line-height:25px; }
#adminForm #thumbsUpWhiteList .icon { background-position: -135px -5px; }
/* #DC3035, #A20608 */

/* enter the SLIDER */
.slider { padding: 24px; margin-bottom: 24px; background: #fff; }
    .slider .slides { margin-top:24px; }
        .slider .slides a { float: left; -webkit-transition: all 0.218s; -moz-transition: all 0.218s; -o-transition: all 0.218s; transition: all 0.218s; }
        .slider .slides a:not(:first-child) { margin-left: 10px; }
        .slider .slides a:not(.active) { opacity: .5; }
        .slider .slides a:not(.active):hover { opacity: 1; float: left; -webkit-transition: all 0s; -moz-transition: all 0s; -o-transition: all 0s; transition: all 0s;  }
          
/* jquery ui autocomplete */
.ui-menu .ui-menu-item img { float: left; margin-right: 10px; }
.ui-menu .ui-menu-item .right { float: left; width: 188px; }
.ui-menu .ui-menu-item .right div.cast { color: #666; font-size: 12px; margin-top: 5px; }
          
/* google maps */
a.button {
    padding: 0 10px;
    cursor:default;
    color: #444;
    font-family:arial;
    font-size:11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display:inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
    outline: none;
}
a.button:hover {
    border: 1px solid #c6c6c6;
    color: #333;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: linear-gradient(top,#F8F8F8,#F1F1F1); 
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);    
}
a.button img.link { background: url('content/images/google-sprite.png') -143px -19px;  width: 18px; height: 7px; margin-right:5px; opacity:0.55; }
/* end: google maps */
          
/* google places */
.pac-item { font-size: 18px; padding: 5px; }          
            
.shadow { -moz-box-shadow: inset 0 0 30px #303030; -webkit-box-shadow: inset 0 0 30px #303030; box-shadow: inset 0 0 30px #303030; } /* orig: 1b1b1b */
.mpaaRating { color: #465F82; }

header { background:#2D62AE; }
    header > #headerContent { padding: 0 0 10px 0; margin: 0 auto; width: 1000px; }
    header > #headerContent > #logo { float: left; display:inline-block; margin-left: -41px; /* font-size: 35px; font-weight: bold; color: White; */ background: url('content/logo4_4.png'); width: 349px; height: 105px; }
        header > #headerContent > #logo span { float: left; display:inline-block; }
    header > #headerContent > #fbLikeContainer { top: 14px; left: 400px; position: absolute; /* width: 85px; float: left; margin-top: 50px; margin: 30px 0 0 20px; position: fixed; top: 50px; left: 20px; */ }
    header > #headerContent > #headerAd { float: right; padding-top:20px; }
    /* header > #headerContent > #q { float: right; padding: 8px; outline: none; width: 282px; border: 1px solid #ccc; font-size: 14px; } */
    nav, section { display:block; }
    nav { padding: 12px 0 10px 0; width: 990px; margin: 0 auto; }
    nav > a { font-weight: bold; color: #fff; text-decoration: none; margin-right: 25px; /* (blue) text-shadow: 0 -1px 1px #2d62ae */ text-shadow: 0 -1px 1px #65b145; font-size: 16px;}
    nav > a.selected { /* (blue) background: #4c95e4; */ background: #65b145; padding: 12px 12px 11px 12px; text-shadow:none; }
    nav > #q { float:right; margin-top:-6px; position: relative; }
        nav > #q > input[type='text'] { padding: 6px; outline: none; width: 262px; border: 1px solid #ccc; font-size: 14px; }
        nav > #q > input[type='submit'] { cursor:pointer; border: none; color: transparent; font-size: 0; background: url('content/images/rt-sprite4.png') -106px -107px; width: 18px; height: 18px; display: inline-block; position: absolute; top: 7px; right: 10px; opacity: 0.4; }

.body { width: 996px; margin: 10px auto 0 auto; padding-top: 20px; }

#reviewsIndex { font-size: 16px; }
#reviewsIndex a { color: #2489ce; }
#reviewsIndex .review:not(:first-child) { margin-top: 24px; }
#reviewsIndex .review .details { float: left; width: 852px; }
#reviewsIndex .review a.img { float: left; margin-right: 24px; }
    #reviewsIndex .review a.img img { width: 120px; height: 178px; display:inline-block; }

#aboutIndex { font-size: 14px; }
#aboutIndex a { color: #2489ce; }
#aboutIndex .profile { float: left; }
#aboutIndex .profile:not(:first-child) { margin-left: 24px; }
    #aboutIndex .profile img { float: left; margin-right: 24px; }
    #aboutIndex .profile p { float: left; width: 283px; line-height: 20px; } 
    /*header #navAndSearch { float: right; }
    header #navAndSearch nav { float: left; font-size: 150%; margin: 30px 10px 0 5px; }
        header #navAndSearch nav a { margin-right: 15px; color: #2489CE; }
        header #navAndSearch nav a.selected { color: #fff; background: #2489CE/* #465F82 *//*; padding: 5px 10px; } */

    /* header #navAndSearch #q  
    {
        margin-top:27px;
        padding: 5px; 
        font-size: 15px; 
        border: 1px solid #717171; 
        width: 144px; 
        outline: none; 
        background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ffffff));
        background: -moz-linear-gradient(top,  #F8F8F8,  #ffffff);  
        float: left;
    } */

.content { width: 1000px; overflow: auto; display: none; }
    #whatsHotView h2, #redboxView h2 { margin-right: 4px; color: #535156; padding: 10px 0; font-size: 14px; font-weight: bold; margin-bottom: 10px; }

/* styles common to both movie div in the lists and the movie details popup */

#movieDetailsPopup { min-height: 314px; display:none; z-index:1002; font-size: 110%; border: 1px solid #999; padding: 25px; position: fixed; width: 590px; top: 68px; left: 50%; margin-left: -295PX; }
        .movieDetails .topHalf .left { float: left; margin-right: 25px; }
            .movieDetails .topHalf .left img.poster { width: 180px; height: 267px; }
        .movieDetails .topHalf .right { float: left; width: 385px; }
            .movieDetails .topHalf .right h1 { font-size: 140%; font-weight: bold; }
            .movieDetails .topHalf .right p.description { margin-top: 12px; overflow: auto; max-height: 96px; line-height: 20px; } 
    .movieDetails a { display: inline-block; }
    .movieDetails .closeMovieDetails { cursor: pointer; float: right; display:inline-block; width: 16px; height: 16px; background: url('content/images/rt-sprite4.png') -102px -88px; }
    .movieDetails .closeMovieDetails .x { margin-left: 6px; color: Red; }
    #trailer #trailerContainer { margin-top:25px; margin-left:95px; }
        .movieDetailsPanel .backToMovieDetails { font-weight: bold; color: #2489CE; }
        #movieShowtimes #theatersForMovieList { margin-top:15px; overflow: auto; max-height: 330px; }
            #movieShowtimes #theatersForMovieList .theater { padding: 20px; border: 1px solid #ccc; margin-right:20px; }
                #movieShowtimes #theatersForMovieList .theater h2 { font-size: 110%; font-weight: bold; }
                #movieShowtimes #theatersForMovieList .theater:not(:first-child) { margin-top: 10px; }
                #movieShowtimes #theatersForMovieList .theater h3 { margin: 5px 0; }
                #movieShowtimes #theatersForMovieList .theater p.times.singleMovie { margin: 5px 0 0 0; }
                #movieShowtimes #theatersForMovieList .theater p.times { margin: 0; }
    .movieDetails .links { margin-top: 15px; font-weight: bold; }
        .movieDetails .links > a:not(.button) { padding-left: 22px; color: #2489CE; height:16px; line-height: 17px; /* text-decoration: underline; */ }
        .movieDetails .links > a.trailerLink { background: url('content/images/icons/video.png') no-repeat center left; }
        .movieDetails .links > a.parentalGuideLink { background: url('content/images/icons/caution2.png') no-repeat center left; }
        .movieDetails .links > a.showtimesLink { background: url('content/images/icons/clock.png') no-repeat center left; }            
        .movieDetails .links > a.showtimesLink.loading { background: url('content/images/ajax-loader-blue-ribbon.gif') no-repeat center left; }
        .movieDetails .links > a.nearbyRedboxLink { background: url('content/images/icons/redbox.gif') no-repeat center left; }            
        .movieDetails .links > a.nearbyRedboxLink.loading { background: url('content/images/ajax-loader-blue-ribbon.gif') no-repeat center left; }        
        .movieDetails .links > a:not(:first-child) { margin-left: 20px; }
    .movieDetails p { margin-top: 15px; }
    .movieDetails .ratingAndLength { margin-top: 15px; font-size: 18px;  }
        .movieDetails .ratingAndLength .mpaaRating { font-weight: bold; margin-right: 25px; float:left; }
        .movieDetails .ratingAndLength .length { float: left; margin-right: 25px; }
        .movieDetails .ratingAndLength .fbLikeContainer { float: left; width: 85px; float: left; }
    .movieDetails .ratings { clear: left; }
    .movieDetails .ratings a { color: #535156; }
    .movieDetails [data-releasedate] { font-weight: bold; }
    .movieDetails #copyControls { width: 124px; display:inline-block; }
        .movieDetails #copyControls #copySuccess { color: #333; display:none; margin-left: 10px; }

#overlay { background:#666666; opacity:.5; z-index:1001; position:absolute; top:0; left:0; }

#go { width: 50px; height:34px; }

.movieList { overflow:auto; }
    .movieList .movie:not(:nth-child(5n+5)) { margin-right: 24px; }
    .movieList .movie { position:relative; margin-bottom: 24px; float: left; width: 180px; }
        .movieList .movie a.poster { width: 180px; height: 267px; float: left; }
        .movieList .movie a.poster:hover { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
        .movieList .movie .details { padding: 10px; width: 160px; float: left; background: #fff; }
            .movieList .movie .details .ourReview { position: absolute; bottom: 35px; right: 5px; }
            .movieList .movie .details .ourReview span { margin-right:0;}
        .movieList .movie a.poster img { width: 180px; height: 267px; } /* thumbnail = 61 x 91 */

.favoriteLink.default { background:url("content/images/icons/star_default.png") no-repeat scroll center transparent; }
.favoriteLink.default:hover { background:url("content/images/icons/star_default_hover.png") no-repeat scroll center transparent; }
.favoriteLink.lit { background:url("content/images/icons/star_lit.png") no-repeat scroll center transparent; }
.favoriteLink.lit:hover { background:url("content/images/icons/star_lit_hover.png") no-repeat scroll center transparent; }

#redboxView { margin-top:10px; width: 1019px; }
    #redboxView #redboxBrowserContainer { overflow:auto; padding-bottom: 4px; }
        #redboxView #redboxBrowserContainer #redboxBrowser { font-size: 120%; background: #fff; float: left; overflow: auto; }
            #redboxView #redboxBrowserContainer #redboxBrowser #browsingInside { padding: 10px 12px 10px 30px; display:inline-block; margin: 0; height: 28px; padding-left: 30px; font-size: 110%; background: url('http://www.redbox.com/Content/images/kiosk_icon.gif') no-repeat center left; line-height: 27px; border-left: 10px solid transparent; }
                #redboxView #redboxBrowserContainer #redboxBrowser #browsingInside #currentKiosk { font-weight: bold; }
                #redboxView #redboxBrowserContainer #redboxBrowser #browsingInside a { color: #2489CE; margin-left: 15px; }
            #redboxView #redboxBrowserContainer #redboxBrowser #redboxLocationOptions { padding: 0 10px 8px 10px; }
                #redboxView #redboxBrowserContainer #redboxBrowser #redboxLocationOptions a { font-weight: bold; color: #2489CE; }
                #redboxView #redboxBrowserContainer #redboxBrowser #redboxLocationOptions button { padding: 5px; }
                #redboxView #redboxBrowserContainer #redboxBrowser #redboxLocationOptions input { padding: 4px; width: 80px; margin-right:4px; }
            
            /* list of redboxes */
            #redboxView #redboxBrowserContainer #redboxBrowser #redboxes { overflow:auto; margin-left: 10px; }
                #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox { float: left; margin: 0 15px 10px 0; }
                    #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox a.browseRedbox { border: 1px solid #DC211E; color: #DC211E; padding: 6px 8px; display:inline-block; margin-top: 10px; }
                    #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox h3 { font-weight: bold; margin-bottom: 5px; }
                    #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox p.indoorOutdoor { color: #999; font-size: 90%; margin-top: 5px; }
                    #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox p.distance { color: #999; font-size: 90%; margin-top: 5px; }
                    #redboxView #redboxBrowserContainer #redboxBrowser #redboxes .redbox p.address { font-size: 90%; }
    #redboxView h2 { margin-top: 6px; clear: left; }
    
/* --- Redbox Movie List --- */
#redboxMovieList { overflow:auto; margin-top:20px; }
    #redboxMovieList .movie:not(:nth-child(8n+8)) { margin-right: 24px; }
    #redboxMovieList .movie { margin-bottom: 24px; float: left; width: 106px; }
        #redboxMovieList .movie > a { width: 106px; overflow: auto; display:block; height: 194px; }
            #redboxMovieList .movie > a > span:first-child { display: block; padding: 2px 5px; font-weight: bold; color: #fff; text-transform: uppercase; }
            /* new span */
            #redboxMovieList .movie.new > a > span:first-child { border-top-right-radius: 5px; float: left; }
            #redboxMovieList .movie > a > img { width: 106px; height: 150px; } /* thumbnail = 61 x 91 */
            /* find it */
            #redboxMovieList .movie > a > span:last-child { text-align: center; display: block; padding: 5px 8px; font-weight: bold; color: #fff; text-transform: uppercase; }

#showtimesView > div { display: none; }
#showtimesLoading { display: none; }
#showtimesView #theaters { float: left; width: 300px; }
    #showtimesView #theaters .theaterList.favorites { }
    
    .theaterList div.favoriteLink { float: left; width: 19px; height: 16px; margin-right: 7px; }
    
    #showtimesView #theaters .theaterList { margin-top:10px; }
        #showtimesView #theaters .theaterList a { display:block; padding: 10px; }
        #showtimesView #theaters .theaterList a:not(:first-child) { margin-top:0px; }
        #showtimesView #theaters .theaterList a.selected { background: #535156; border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -moz-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-top-left-radius: 5px; }
        #showtimesView #theaters .theaterList a:not(.selected) { color: #535156; }
            #showtimesView #theaters .theaterList a div.theaterName { font-weight: bold; margin-bottom: 2px; font-size: 110%; }
            #showtimesView #theaters .theaterList a.selected div.theaterAddress { font-size: 90%; color: #999; }
            #showtimesView #theaters .theaterList a.selected div.theaterName { color: #FFF; }
            #showtimesView #theaters .theaterList a:not(.selected) div.theaterAddress { font-size: 90%; color: #535156; }

    #showtimesView .showtimeZipOptions { font-size: 16px; display:none; padding: 8px; color: #535156; }
        #showtimesView .showtimeZipOptions h1 { font-size: 22px; margin-bottom: 20px; }
        #showtimesView .showtimeZipOptions a { color: #2489CE; font-weight: bold; border: 1px solid #ccc; padding: 8px; }
        #showtimesView .showtimeZipOptions input { padding: 8px; border: 1px solid #ccc; outline: none; width: 262px; margin-right:4px; }
    #showtimesView #theaters #location { padding: 0; font-size: 15px; }
        #showtimesView #theaters #location #currentZip { font-weight: bold; }
        #showtimesView #theaters #location #changeCurrentZipLink { margin-left: 10px; color: #2489CE; font-weight: bold; }
        #showtimesView #theaters #location .showtimeZipOptions { font-size: 15px; margin-right: 10px; background: #535156; display:none; padding: 8px; margin-top:5px; color: #999; }
            #showtimesView #theaters #location .showtimeZipOptions input { padding: 4px; width: 262px; margin-right:4px; }
            #showtimesView #theaters #location .showtimeZipOptions > div { margin-top:5px; }
            #showtimesView #theaters #location .showtimeZipOptions a { color: #fff; display:inline-block; }    

#showtimesView #currentTheaterContainer { float: left; width: 700px; } /* orig: 681 > 671 > 700 */
    #showtimesView #currentTheaterContainer .theater { background: #535156; padding: 15px; }
    #showtimesView #currentTheaterContainer .theater:not(.selected) { display: none; }
    #showtimesView #currentTheaterContainer .theater.selected { display: block; }
        #showtimesView #currentTheaterContainer .theater .theaterNameAndFavorite { overflow: auto; }
            #showtimesView #currentTheaterContainer .theater .theaterNameAndFavorite h1 { font-size: 150%; font-weight: bold; color: #FFFFFF; float: left; }
            #showtimesView #currentTheaterContainer .theater .theaterNameAndFavorite a.favoriteLink { margin: 1px 0 0 0px; padding: 0 10px; display:block; float: left; width: 19px; height: 19px; }
           
        #showtimesView #currentTheaterContainer .theater p.address { margin-top:5px; color: #999; }
        #showtimesView #currentTheaterContainer .theater .movie { float: left; width: 326px; position: relative; margin-top:14px; padding-bottom: 10px; height: 131px;}
        #showtimesView #currentTheaterContainer .theater .movie:nth-child(2n+2) { margin-left: 14px; }
        #showtimesView #currentTheaterContainer .theater .movie > a { display: block; }
            #showtimesView #currentTheaterContainer .theater .movie p { margin-top: 10px; }
            #showtimesView #currentTheaterContainer .theater .movie img { float: left; margin: 0; width: 61px; height: 91px; }
            #showtimesView #currentTheaterContainer .theater .movie .showtimes { clear: left; padding: 0 0 0 10px; width: 245px; word-wrap: break-word; }
            #showtimesView #currentTheaterContainer .theater .movie .details { padding-top:10px; float: left; padding-left:10px; }

/* begin: elements specific to theater view */
#showtimesView #currentTheaterContainer .theater .showHiddenMoviesLinkContainer { overflow:auto; }
    #showtimesView #currentTheaterContainer .theater .showHiddenMoviesLinkContainer .showHiddenMoviesLink { color: #FFF; text-align: right; font-weight: bold; display:inline-block; float:right; }
#showtimesView #currentTheaterContainer .theater .showtimeDays { margin:15px 0 9px 0; font-size: 130%; }
    #showtimesView #currentTheaterContainer .theater .showtimeDays a:not(:first-child) { padding-left: 20px; }
    #showtimesView #currentTheaterContainer .theater .showtimeDays a::first-child { padding: 0; }
    #showtimesView #currentTheaterContainer .theater .showtimeDays a.active { color: #FFF; font-weight: bold; cursor:text; }                
    #showtimesView #currentTheaterContainer .theater .showtimeDays a:not(.active) { color: #999; }
/* end: elements specific to theater view */
        
            .content .movie .mpaaRating { font-weight: bold; }
            .content .movie .showtimes { margin-top: 10px; }
            .content .movie [data-releasedate] { margin-top: 10px; font-weight: bold; height: 16px; }
            /* .content .movie img { margin-right: 10px; display:block; } */
            .content .movie h2 { display:inline-block; font-weight: bold; margin-right: 10px; max-width:201px; /* overflow:hidden; text-overflow: ellipsis; white-space: nowrap; */ }
            .content .movie .actions { position: absolute; right: 8px; bottom: 8px; }
                /* .content .movie .actions a { padding: 8px 10px; border: 1px solid #C5D8E6; font-size: 90%; display:inline-block; } */
                .content .movie .actions a > span { margin-right: 5px; }
                /* .content .movie .actions a.hideMovieLink .x { color: Red; }
                .content .movie .actions a.movieDetailsLink .dotdotdot { font-weight:bold; }
                .content .movie .actions a:hover { border: 1px solid #465F82; } */

#movies .notYetReleased { color: Gray; }
#movies .notYetReleased .notYetReleasedMessage { overflow: auto; margin-top: 10px; }
#movies .notYetReleased img { opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */ }
#movies .movie.unPinned .actions { display:none; } 

#movies .movie { overflow: hidden; margin-bottom:15px; position: relative; width: 415px; float: left; height:133px; }
#movies .movie .actions { position: absolute; bottom: 10px; right: 5px; }
#movies .movie .actions a { padding: 5px; border: 1px solid gray; margin-left: 5px; text-decoration: none; color: Gray; }
#movies .movie.pinned .actions a.pinLink { color: Black; }
#movies .movie .actions a:hover { color: black; }
#movies .movie.unPinned:hover .actions { display:block; }
/* .movie:first-child { margin-top:0px; } */
#movies .movie img { float: left; max-width: 85px; }
#movies .movie .details { margin-left: 10px; float: left; font-size: 120%; }
#movies .movie .details .title { font-weight: bold; margin-right: 20px; }
#movies .movie .details .ratings { margin-top: 10px; overflow:auto; }

a.external { padding-right: 15px; }
a.disabled { color: Black; cursor: text; }
a.external:hover { background: url('content/images/icons/external-link-icon.png') no-repeat top right; }

/*
.button {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
*/

/* This is for the jquery mask plugin */
.loadmask { z-index: 100; position: absolute; top: 0; left: 0; -moz-opacity: 0.5; opacity: .50; filter: alpha(opacity=50); background-color: #CCC; width: 100%; height: 100%; zoom: 1; }
.loadmask-msg { z-index: 20001; position: absolute; top: 0; left: 0; padding: 0; margin: 0; }
.loadmask-msg div { padding: 0; margin: 0; background: transparent url('scripts/plugins/mask/processing-bar.gif') no-repeat center center; border: 0; cursor: wait; width: 220px; height: 19px; }
.masked { overflow: hidden !important; }
.masked-relative { position: relative !important; }
.masked-hidden { visibility: hidden !important; }

/* css for tabs */
ul#views {	height: 36px; padding: 0 0 0 20px; width: 960px; position: relative; overflow: hidden; }
ul#views li { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; float: left; margin: 0 10px 0 0; background-color: #2B477D; border: solid 1px #415F9D; position: relative; z-index: 1; }
ul#views li.active {	z-index: 3; }
ul#views li.shadow { width: 100%; height: 2px; position: absolute; bottom: -3px; left: 0; border: none; background: none; z-index: 2; -webkit-box-shadow: #111 0 -2px 6px; -moz-box-shadow: #111 0 -2px 6px; box-shadow: #111 0 -2px 6px; }
ul#views li a:link, ul#views li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 130px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #2B477D;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#views li a:hover {
	background-color: #5a87dd;
}

ul#views li.active a:link, ul#views li.active a:visited {
	color: #2B477D;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #e8e8e8, #fff 60%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.4, #fff),color-stop(.6, #e8e8e8));
	background-color: #f2f2f2;
}