body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bottomBuffer { margin-bottom: 20px; }
.bigBottomBuffer { margin-bottom: 40px; }
.linkForm input { margin-right: 15px; }
.linkForm input[type='url'] { width: 438px !important; }
.logo { background: url('logo.jpg'); display:inline-block; width: 170px; height: 37px; }