body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bottomBuffer { margin-bottom: 20px; }
.bigBottomBuffer { margin-bottom: 40px; }
.linkForm input { margin-right: 15px; }
.linkForm input[type='url'] { width: 312px !important; } /* goo.gl's is 438px wide */
.linkForm input.path { width: 170px !important; } /* goo.gl's is 438px wide */
.linkForm .result { display:inline-block; margin-left: 5px; width: 252px; }
.linkForm .arrow { display:inline-block; margin-right: 10px; }
.logo { background: url('logo.jpg'); display:inline-block; width: 170px; height: 37px; }
.login-dialog .modal-dialog { width: 300px; }
.alert-success { width: 250px; position: fixed; top: 20px; left: 50%; margin-left: -150px; display:none; }

/* datatable overrides */
.dataTables_wrapper.form-inline .dataTables_filter .form-control[type='search'] { margin-left:10px; }
.dataTables_wrapper tr td { vertical-align: middle!important; }