body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.noSelect {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bottomBuffer { margin-bottom: 20px; }
.bigBottomBuffer { margin-bottom: 40px; }
.linkForm input { margin-right: 15px; }
.linkForm input.loggedIn[type='url'] { width: 312px !important; } /* goo.gl's is 438px wide */
.linkForm input[type='url'] { width: 321px !important; }
.linkForm input.path { width: 170px !important; display:inline-block; margin-left: 10px; } /* goo.gl's is 438px wide */
.linkForm .result { display:inline-block; margin-left: 5px; width: 145px; }
.linkForm .result.loggedIn { width: 242px; }
.linkForm .arrow { display:inline-block; margin-right: 10px; }
.logo { background: url('logo.jpg'); display:inline-block; width: 170px; height: 37px; }
.login-dialog .modal-dialog { width: 300px; }
.alert-success { width: 250px; position: fixed; top: 20px; left: 50%; margin-left: -150px; display:none; }
.alert-warning { margin-top: -20px; }

/* datatable overrides */
.dataTables_wrapper.form-inline .dataTables_filter .form-control[type='search'] { margin-left:10px; }
.dataTables_wrapper tr td { vertical-align: middle!important; }

/* add bookmarklet */
body.noPadding { padding: 0; }
body.noOverflow { overflow: hidden; }
.addBody { padding: 20px; width:361px; }
    .addBody .linkForm { margin-top: 20px; }
.addBody .form-inline .form-group { display: block; margin-bottom: 20px; }
.addBody button { margin-left: 15px; }
.addBody .signIn { line-height: 30px; }
.addBody .alert { margin-bottom: 0; }
.addBody .alert-warning { margin-top: 0; }