@* facebook *@
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '118119081645720', // App ID
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        // add'l init code goes here
        // get authorized here, https://graph.facebook.com/oauth/authorize?client_id=118119081645720&redirect_uri=http://seeitornot.com/redirect
        @if (Request.Url.ToString().ToLower().Contains("localhost")) {
            <text>//codejkjk.movies.desktop.adminize(6207283);</text>
        }
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                //codejkjk.movies.desktop.adminize(response.authResponse.userID);
            }
        });
    };

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    } (document));
</script>