@model seeitornot.model.Movie

<div class="column left">
    <img src="@Model.posterDetailed" />    
</div>
<div class="column right">
    <h1>@Model.title</h1>
    <div class="links">
        <a class="parentalGuide" href="@Model.parentalGuideUrl" target="_blank"><span></span>Parental Guide</a>
    </div>
</div>

