@model movies.Site.ViewModels.ViewModelBase

@{
    ViewBag.Title = "About SeeItOrNot";
}

@section ExtraHeadContent {
    <script type="text/javascript">
        // TODO: figure out how movie overlay will work for this page
        var baseUrl = '@this.Url.Content("~/")';
    </script>
    <script src="~/scripts/codejkjk/codejkjk.movies.HomeIndex.js"></script>
    <script src="~/scripts/plugins/lazyload/jquery.lazyload.min.js"></script>
}

@section Nav {
    <div class="navBar blueGradient bottomShadow">
        <nav>
            <a href="~/" class="noPush">What's Hot</a>
            <a href="~/showtimes" class="noPush">Showtimes</a>
            <a href="~/comingsoon" class="noPush">Coming Soon</a>
            @*<a href="~/redbox">Redbox</a>*@            
            <a href="~/reviews" class="noPush">Reviews</a>
            <a href="~/about" class="noPush">About</a>
            <div id="q"><input class="rounded" type="text" placeholder="Search movies..." /><input type='submit' /></div>
        </nav>
    </div>@*end: navBar*@
}

<div id="aboutIndex" class="body">
    <div class="profile group">
        <img src="http://img812.imageshack.us/img812/6969/ianprofile.png" />
        <p class="details">
            <strong>Ian Davis</strong> and his beautiful wife Shari go to the movies just about every Tuesday for date night.  Before seeitornot.co, they would look up what's playing in theaters in one browser tab, look up the parental guide and reviews for particular movies in other tabs, and that's how they decided on what to see for any given week. 1 website that had all of the above would be much easier. Enter seeitornot.co, a site that has user ratings, reviews, showtimes and an easy to find Parental Guide link for each movie. They're super excited to have John Hanlon provide great tweet-length movie reviews!  More on John Hanlon below...
        </p>
    </div>
    <div class="profile group">
        <img class="resized" src="http://www.johnhanlonreviews.com/wp-content/uploads/2012/02/Hanlon_Picture-200x3001.jpg" />
        <p class="details">
            <strong>John P. Hanlon</strong> is a freelance movie and entertainment critic. He began writing film and television reviews in late 2009 for “Big Hollywood,” where he serves as a contributor to the site. In addition to his role at BH, he contributes regularly to <a href="//ScreenRant.com">ScreenRant.com</a> and <a href="//Townhall.com">Townhall.com</a>. He has written for Patheos.com, the Daily Caller and Townhall Magazine. He can be found on Twitter <a href="https://twitter.com/#!/johnhanlon" target="_blank">@@johnhanlon</a>. His work online can also be found at <a href="//facebook.com/JohnHanlonReviews" target="_blank">facebook.com/JohnHanlonReviews</a>.
        </p>
    </div>
</div>
