@import url("normalize.css");

body {
    font-size: 12px;
    font-family: "Arial";
    color: #333;
    background-color: #fff;
    padding: 10px;
}

.body { }
a { color: #357ae8; }
    a:visited { color: #357ae8; }
    a:hover { color: #357ae8; }
    a:active { color:#357ae8; }

h1 { font-size: 14px; }
    h1 a { text-decoration: none; }

#homeIndex a.button { display: block; }

textarea { width: 300px; }
#controls { margin-top: 10px; }