@import url("normalize.css");

body {
    font-size: 14px;
    font-family: "Arial";
    color: #333;
    background-color: #fff;
    padding: 10px;
}

.body { }
a { color: #357ae8; }
    a:visited { color: #357ae8; }
    a:hover { color: #357ae8; }
    a:active { color:#357ae8; }

h1 { font-size: 14px; }
    h1 a { text-decoration: none; }

#homeIndex a.button { display: block; margin-bottom: 10px; }
    #homeIndex a.button:visited { color: #444; }

textarea { width: 286px; }

form > div { margin-top: 20px; }

#siteFeatureIndex #siteFeatures { padding-top: 20px; margin-top: 20px; width: 300px; border-top: 1px solid #ccc;  }
    #siteFeatureIndex #siteFeatures > div { margin-bottom: 10px; }

#siteFeatureIndex input[type='checkbox'] { margin: 0 5px 0 10px; display:inline-block; }
#siteFeatureIndex input[type='date'] { margin-left: 10px; }
#siteFeatureIndex button[type='submit'] { margin-right: 5px; }

#siteFeatureIndex .dateControls { height: 35px; }
    #siteFeatureIndex .dateControls .allButDatePicker { padding-top: 10px; display:inline-block; }