<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="urlme.Data.Properties.Settings.bakersdozen13ConnectionString"
            connectionString="Data Source=sqlserver5.loosefoot.com;Initial Catalog=bakersdozen13;Persist Security Info=True;User ID=ihdavis;Password=pchang"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>