@import url(http://fonts.googleapis.com/css?family=Open+Sans|Oswald);
@import '../scripts/plugins/bootstrap-3.1.1/css/bootstrap.min.css';
@import '../scripts/plugins/bootstrap-dialog/bootstrap-dialog.min.css';
@import '../scripts/plugins/font-awesome-4.1.0/css/font-awesome.min.css';
/* to fix: */
/*@import 'http://bootswatch.com/flatly/bootstrap.min.css';*/
/*@import '../scripts/plugins/bootstrap-3.1.1/css/bootstrap-theme.min.css';*/
/* bootstrap overrides */
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: #2489ce;
  text-decoration: none;
}
.modal-footer {
  margin-top: 0;
}
.hint {
  font-style: italic;
  display: inline-block;
}
.loading:after {
  content: 'Loading...';
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.row:not(:first-child) {
  margin-top: 30px;
}
button.close {
  font-size: 42px;
}
.modal-header .close {
  margin-top: -10px;
}
.form-control {
  height: 45px;
  padding: 8px 14px;
}
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
header,
footer,
nav,
section {
  display: block;
}
div.debug {
  display: none;
  font-size: 24px;
  text-align: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.orangeDiag {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e76801), color-stop(0.25, #e76801), color-stop(0.25, #ec7f24), color-stop(0.5, #ec7f24), color-stop(0.5, #e76801), color-stop(0.75, #e76801), color-stop(0.75, #ec7f24));
  background-image: -webkit-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -moz-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -ms-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -o-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e76801', endColorstr='#ec7f24', GradientType=0);
  /* IE6-8 */
  background-image: linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-size: 20px 20px;
}
.greenGradient {
  background: #65b145;
  /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79d153), to(#65b145));
  background: -webkit-linear-gradient(top, #79d153, #65b145);
  background: -moz-linear-gradient(top, #79d153, #65b145);
}
.bottomShadow {
  -webkit-box-shadow: 0 2px 8px #999;
  -moz-box-shadow: 0 2px 8px #999;
  box-shadow: 0 2px 8px #999;
}
.rounded {
  border-radius: 3px;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* default to desktop */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #f5f5f5;
}
/* main content and header */
.mainContent {
  width: 990px;
  margin: 0 auto;
  padding: 30px 0;
}
header {
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e76801), color-stop(0.25, #e76801), color-stop(0.25, #ec7f24), color-stop(0.5, #ec7f24), color-stop(0.5, #e76801), color-stop(0.75, #e76801), color-stop(0.75, #ec7f24));
  background-image: -webkit-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -moz-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -ms-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-image: -o-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e76801', endColorstr='#ec7f24', GradientType=0);
  /* IE6-8 */
  background-image: linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);
  background-size: 20px 20px;
}
header .content {
  width: 1000px;
  margin: 0 auto;
}
header .content #logo {
  background: url('logo.png');
  width: 349px;
  height: 105px;
  display: inline-block;
  margin-left: -41px;
  float: left;
}
header .content #fbLikeContainer {
  float: left;
  display: inline-block;
  margin-top: 73px;
  margin-left: -24px;
}
header .content .fa-bars,
header .content .fa-search,
header .content .fa-times {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* nav */
#navBar .content {
  width: 990px;
  margin: 0 auto;
}
#navBar .content nav {
  float: left;
}
#navBar .content nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
#navBar .content nav ul li {
  float: left;
}
#navBar .content nav ul li a.navItem {
  text-shadow: 0 -1px 1px #65b145;
  padding: 12px 14px 10px 14px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
#navBar .content nav ul li a.navItem.selected {
  text-shadow: none;
  background: #65b145;
}
#navBar .content input.search {
  float: right;
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  padding: 6px;
  outline: none;
  width: 262px;
  border: 1px solid #ccc;
  font-size: 14px;
}
/* welcome (no zip has been specified yet) */
.welcome .or {
  display: inline-block;
  margin: 0 20px;
}
.welcome .enterZip {
  display: inline-block;
  width: 200px;
}
/* select dialog (for selecting theater) */
.selectTheater .modal-body {
  padding: 0;
}
.selectTheater .hint {
  padding: 20px;
}
.selectTheater a {
  display: block;
  padding: 20px;
}
.selectTheater a:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
/* theaters with movies list */
h3.filter {
  line-height: 36px;
}
#theatersWithMovies {
  margin-top: 20px;
}
#theatersWithMovies .theater {
  margin-top: 20px;
}
#theatersWithMovies .theater h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
#theatersWithMovies .theater .movie {
  background: white;
  margin-top: 20px;
  position: relative;
  padding: 20px;
}
#theatersWithMovies .theater .movie img {
  float: left;
  margin-right: 20px;
  width: 61px;
}
#theatersWithMovies .theater .movie h4 {
  margin: 0;
  width: calc(100% - 81px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}
#theatersWithMovies .theater .movie .hint {
  font-size: 14px;
  color: #929292;
  display: block;
}
#theatersWithMovies .theater .movie .movieInfo {
  margin-top: 5px;
  display: inline-block;
}
#theatersWithMovies .theater .movie .showtimesHtml {
  position: absolute;
  bottom: 20px;
  left: 101px;
  font-size: 14px;
  line-height: 18px;
}
#theatersWithMovies .theater .movie .showtimesHtml span {
  display: inline-block;
}
#theatersWithMovies .theater .movie .showtimesHtml span:not(:last-child) {
  margin-right: 10px;
}
#theatersWithMovies .theater .movie .showtimesHtml .hint {
  text-decoration: line-through;
  font-style: normal;
}
#theatersWithMovies .theater .movie:first-child {
  margin-top: 0;
}
#theatersWithMovies .theater:first-child {
  margin-top: 0;
}
.singleMovie .backContainer {
  margin-bottom: 20px;
}
.singleMovie .backContainer .back {
  font-size: 24px;
}
.singleMovie .backContainer .back .fa {
  font-size: 20px;
}
.singleMovie .movieContent {
  padding: 30px;
  background: white;
}
.singleMovie .movieContent h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.singleMovie .movieContent img {
  float: left;
  width: 171px;
  margin-right: 30px;
}
.singleMovie .movieContent .details {
  /* width: ~"calc(100% - 201px)"; */
}
.singleMovie .movieContent .details .bufferTop {
  margin-top: 30px;
}
.singleMovie .movieContent .details .ratings h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.singleMovie .movieContent .details .ratings .rt {
  margin-top: 10px;
}
.singleMovie .movieContent .details .ratings .rt:before {
  width: 24px;
  height: 24px;
  content: '\00a0';
  background: url("sprite.png") no-repeat;
  display: inline-block;
  margin-right: 5px;
}
.singleMovie .movieContent .details .ratings .rt[data-rt-tag*="Fresh"]:before {
  background-position: -287px -49px;
}
.singleMovie .movieContent .details .ratings .rt[data-rt-tag*="Rotten"]:before {
  background-position: -288px -96px;
}
.singleMovie .movieContent .details .ratings .rt[data-rt-tag*="Upright"]:before {
  background-position: -291px -24px;
}
.singleMovie .movieContent .details .ratings .rt[data-rt-tag*="Spilled"]:before {
  background-position: -288px -119px;
}
/* mobile & tablet */
/* @media (min-width: 768px) and (max-width: 991px) */
@media (max-width: 991px) {
  .filter a {
    border-bottom: 1px solid #2489ce;
  }
  a:hover {
    color: #2489ce;
    text-decoration: none;
  }
  body {
    /*background-color: #fff;*/
  }
  .mainContent {
    width: auto;
    margin: 0;
    padding: 20px;
    margin-top: 60px;
  }
  header {
    background: #65b145;
    /* fallback */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79d153), to(#65b145));
    background: -webkit-linear-gradient(top, #79d153, #65b145);
    background: -moz-linear-gradient(top, #79d153, #65b145);
    position: fixed;
    padding: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
  header .content {
    width: 100%;
    margin: 0;
  }
  header .content #logo {
    border: none;
    background: url('logo_mobile_white.png');
    width: 60px;
    height: 48px;
    margin-left: 0;
    float: none;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -24px;
  }
  header .content #fbLikeContainer {
    display: none;
  }
  header .content .fa {
    display: inline-block;
    font-size: 40px;
    color: white;
    padding: 10px;
  }
  header .content .fa-bars {
    float: left;
    padding-left: 15px;
    font-size: 38px;
  }
  header .content .fa-times {
    font-size: 44px;
    margin-top: -4px;
  }
  header .content .searchIcon {
    float: right;
    padding-right: 15px;
  }
  #navBar .content {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 60px;
    z-index: 1000;
  }
  #navBar .content nav {
    display: none;
    float: none;
  }
  #navBar .content input.search {
    display: none;
  }
  #navBar .content input.search.display {
    display: block;
    position: fixed;
    top: 0;
    width: calc(100% - 87px);
    margin: 10px 0 0 15px;
    padding: 8px;
  }
  #navBar .content nav ul {
    float: none;
  }
  #navBar .content nav ul li {
    float: none;
  }
  #navBar .content nav ul li a.navItem {
    display: block;
    background: #65b145;
    padding: 16px 0 14px 16px;
  }
  #navBar .content nav ul li a {
    border-top: 1px solid #79d153;
  }
  .welcome #nearMe {
    width: 100%;
  }
  .welcome .or {
    display: block;
    text-align: center;
    margin: 20px 0;
    line-height: normal;
  }
  .welcome .enterZip {
    width: 100%;
  }
  #theatersWithMovies {
    margin-top: 20px;
  }
  #theatersWithMovies .theater .movie .movieInfo {
    margin-top: 29px;
  }
  #theatersWithMovies .theater .movie .showtimesHtml {
    position: static;
    padding-top: 20px;
    clear: left;
  }
  .singleMovie .backContainer .back {
    margin-bottom: 20px;
  }
  .singleMovie .movieContent {
    padding: 20px;
  }
  .singleMovie .movieContent h1 {
    margin-bottom: 20px;
  }
  .singleMovie .movieContent img {
    float: none;
    display: block;
  }
  .singleMovie .movieContent .details {
    /*width: ~"calc(100% - 191px)"; */
    margin-top: 20px;
  }
  .singleMovie .movieContent .details .bufferTop {
    margin-top: 20px;
  }
  .debug.tablet {
    display: block;
  }
}
/* desktop */
@media (min-width: 992px) {
  .debug.desktop {
    display: block;
  }
}
/* movie */
.mainContent.dt .movie {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.mainContent.dt .movie:nth-child(5n+1) {
  margin-right: 0;
}
.mainContent.dt .movie img {
  width: 172px;
  height: 255px;
  float: left;
}
.mainContent.dt .movie .details {
  padding: 10px;
  background: white;
  clear: left;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* movie in list & movie popup */
.mpaa {
  font-weight: bold;
  color: #465f82;
  font-size: 12px;
}
/* columns */
.left,
.right {
  float: left;
}
.mainContent.dt .left {
  width: 760px;
}
/* headers */
.dt h2 {
  padding: 0 0 24px 0;
  margin: 0;
}
/* popup */
.popup {
  background: white;
  position: fixed;
  top: 68px;
  padding: 24px;
  z-index: 1002;
}
.popup h1 {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
/* overlay */
#overlay {
  background: #333;
  opacity: .9;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* movie popup */
#movie {
  width: 590px;
  left: 50%;
  margin-left: -295px;
}
#movie .right {
  margin-left: 24px;
}
#movie .right h1 {
  display: inline-block;
  margin-right: 24px;
}
#movie .right .mpaa {
  font-size: 18px;
  font-weight: normal;
}
#movie .right .links {
  margin-top: 24px;
}
#movie .right .links span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("sprite.png");
}
#movie .right .links .parentalGuide {
  font-weight: bold;
  font-size: 13px;
}
#movie .right .links .parentalGuide span {
  background-position: -258px -177px;
  padding-right: 7px;
  float: left;
}
/* platforms */
