body {
    font-size: .85em;
    font-family: Arial;
    color: #333;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.orangeDiag { background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e76801), color-stop(0.25, #e76801), color-stop(0.25, #ec7f24), color-stop(0.5, #ec7f24), color-stop(0.5, #e76801), color-stop(0.75, #e76801), color-stop(0.75, #ec7f24));	background-image: -webkit-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -moz-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -ms-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -o-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76801', endColorstr='#ec7f24',GradientType=0 ); /* IE6-8 */ background-image: linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-size: 20px 20px; }
.greenGradient { background: #65b145; /* fallback */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79d153), to(#65b145)); background: -webkit-linear-gradient(top, #79d153, #65b145); background: -moz-linear-gradient(top, #79d153, #65b145); }

/* header */
header { padding-bottom: 10px; }
header .content { width: 1000px; margin: 0 auto; }
.m header .content { width: auto; margin: 0; }
    header .content #logo { background: url('logo.png'); width: 349px; height: 105px; display: inline-block; margin-left: -41px; float:left; }
    .m header .content #logo { background: url('logo_mobile.png'); width: 146px; height: 44px; margin-left: 0; }
    header .content #fbLikeContainer { float: left; display:inline-block; margin-top: 73px; margin-left: -24px; }
    .m header .content #fbLikeContainer { margin: 20px 0 0 0; }

/* nav */
nav .content { width: 990px; margin:0 auto; }
nav .content ul { list-style: none; padding: 0; margin:0; float:left; }
    nav .content ul li { float: left; }
        nav .content ul li a { text-shadow: 0 -1px 1px #65b145; padding: 12px 14px 10px 14px; display:inline-block; text-decoration: none; font-weight: bold; color: #fff; font-size: 16px; }
        nav .content ul li a.selected { background: #65b145; text-shadow: none; }
.m nav .content { width: auto; margin: 0; }

/* search */
nav #searchContainer { float: right; position: relative; }
    nav #searchContainer input { border-radius: 3px; margin-top: 5px; padding: 6px; outline: none; width: 262px; border: 1px solid #ccc; font-size: 14px; }
.m nav #searchContainer { display: none; }