.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

body {
    font-size: .85em;
    font-family: Arial;
    color: #333;
    background-color: #fff;
}
body.dt { background: #f5f5f5; }

header, footer, nav, section {
    display: block;
}

a { color: #2489ce; text-decoration: none; }

.orangeDiag { background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #e76801), color-stop(0.25, #e76801), color-stop(0.25, #ec7f24), color-stop(0.5, #ec7f24), color-stop(0.5, #e76801), color-stop(0.75, #e76801), color-stop(0.75, #ec7f24));	background-image: -webkit-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -moz-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -ms-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-image: -o-linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%);	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e76801', endColorstr='#ec7f24',GradientType=0 ); /* IE6-8 */ background-image: linear-gradient(left top, #e76801 0%, #e76801 25%, #ec7f24 25%, #ec7f24 50%, #e76801 50%, #e76801 75%, #ec7f24 75%); background-size: 20px 20px; }
.greenGradient { background: #65b145; /* fallback */ background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#79d153), to(#65b145)); background: -webkit-linear-gradient(top, #79d153, #65b145); background: -moz-linear-gradient(top, #79d153, #65b145); }
.bottomShadow { -webkit-box-shadow: 0 2px 8px #999; -moz-box-shadow: 0 2px 8px #999; box-shadow: 0 2px 8px #999; }
.rounded { border-radius: 3px; }

/* header */
header { padding-bottom: 10px; }
header .content { width: 1000px; margin: 0 auto; }
.m header .content { width: auto; margin: 0; }
    header .content #logo { background: url('logo.png'); width: 349px; height: 105px; display: inline-block; margin-left: -41px; float:left; }
    .m header .content #logo { background: url('logo_mobile.png'); width: 146px; height: 44px; margin-left: 0; }
    header .content #fbLikeContainer { float: left; display:inline-block; margin-top: 73px; margin-left: -24px; }
    .m header .content #fbLikeContainer { margin: 20px 0 0 0; }

/* nav */
#navBar .content .navItem { text-shadow: 0 -1px 1px #65b145; padding: 12px 14px 10px 14px; display:inline-block; text-decoration: none; font-weight: bold; color: #fff; font-size: 16px; }
#navBar .content .navItem.selected { text-shadow: none; background: #65b145; }
#navBar .content nav { float: left; }
#navBar .content { width: 990px; margin:0 auto; }
#navBar .content nav ul { list-style: none; padding: 0; margin:0; float:left; }
    #navBar .content nav ul li { float: left; }

/* mobile menu, burger */
.m #navBar .content { width: auto; margin: 0; position: relative; }
.m #navBar .content nav { display:none; position: absolute; background: #79d153; top: 44px; }
.m #navBar .content nav ul li { float: none; border-bottom: 1px solid #65b145; border-right: 1px solid #65b145; }
    .m #navBar .content nav ul li a { padding: 13px 14px 11px 14px; }
    .m #navBar .content nav ul li a.selected { display: block; }
.burger { position: relative; display: inline-block; width: 44px; float: left; height: 44px; border-right: 1px solid #65b145; background: #79d153; }
.burger:before { content: ""; position: absolute; top: 15px; left: 11px; width: 20px; height: 4px; border-top: 10px double #fff; border-bottom: 3px solid #fff; }

/* search */
#navBar .content #searchContainer { float: right; position: relative; }
    #navBar .content #searchContainer input { border-radius: 3px; margin-top: 5px; padding: 6px; outline: none; width: 262px; border: 1px solid #ccc; font-size: 14px; }

/* body */
.body.dt { width: 990px; margin: 0 auto; padding-top: 24px; }

/* movie */
.body.dt .movie { float: left; margin-right: 24px; margin-bottom: 24px; text-decoration:none; border-bottom-left-radius:3px; border-bottom-right-radius:3px; }
.body.dt .movie:nth-child(4n+1) { margin-right:0; }
    .body.dt .movie img { width: 172px; height: 255px; float:left; }
    .body.dt .movie .details { padding:10px; background:white; clear:left; border-bottom-left-radius:3px; border-bottom-right-radius:3px; }

/* movie in list & movie popup */
.mpaa { font-weight: bold; color: #465f82; font-size:12px; }

/* columns */
.left, .right { float: left; }
.body.dt .left { width: 760px; }

/* headers */
.dt h2 { padding: 0 0 24px 0; margin: 0; }

/* popup */
.popup { background: white; position: fixed; top: 68px; padding: 24px; z-index: 1002; }
    .popup h1 { font-weight: bold; padding:0; margin:0; font-size:18px; }

/* overlay */
#overlay { background: #333; opacity: .9; z-index: 1001; position: absolute; top:0; left: 0; width: 100%; }

/* movie popup */
#movie { width: 590px; left: 50%; margin-left: -295px; }
#movie .right { margin-left: 24px; }
    #movie .right h1 { display:inline-block; margin-right: 24px; }
    #movie .right .mpaa { font-size: 18px; font-weight:normal; }
    #movie .right .links { margin-top: 24px; }
    #movie .right .links span { display:inline-block; width: 16px; height: 16px; background: url("sprite.png"); }
        #movie .right .links .parentalGuide { font-weight: bold; font-size: 13px; }
            #movie .right .links .parentalGuide span { background-position: -258px -177px; padding-right: 7px; float:left; }

/* rt icons */
.rottenTomato,.imdb,.sion .icon { background: url("content/sprite.png") no-repeat scroll left center transparent; }
.ratings span.icon, .ratings span.rt.text { float: left; display:inline-block; } /* todo: repetitive? */
.ratings .rtLinks { float: left; }
.ratings .imdbRatingFrame { float: left; margin-top:-1px; }

.ratings { margin-top:10px; font-weight: bold; overflow:auto; }
.ratings .imdbRatingPlugin { margin: 0; display: inline-block; float: left; }

/* rt icons - small */
.ratings.small { font-size: 15px; }
.ratings.small .icon { width: 24px; height: 24px; }
.ratings.small .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; }
.ratings.small .text { margin-top:3px; padding-left: 6px; margin-right: 12px; }
.ratings.small .icon.imdb { background-position: -1px -125px; margin-right: 8px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -287px -49px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -288px -96px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -291px -24px; }
.ratings.small .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -288px -119px; }
.ratings.small .icon.sion { width: 19px; height: 24px; }
.ratings.small .icon.sion.seeIt { background-position: -150px -72px; }
.ratings.small .icon.sion.orNot { background-position: -150px -99px; }

/* rt icons - medium */
.ratings.medium { font-size: 18px; }
.ratings.medium .icon { width: 32px; height: 32px; }
.ratings.medium .rt.text:after { content: '%'; vertical-align: super; font-size: 10px; }
.ratings.medium .text { margin-top:5px; padding-left: 13px; margin-right:12px; }
.ratings.medium .icon.imdb { background-position: -160px -130px; margin-right: 13px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -63px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -95px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -32px -128px; }
.ratings.medium .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -127px -127px; }

/* rt icons - smaller */
.ratings.smaller { font-size: 14px; }
.ratings.smaller .icon { width: 14px; height: 14px; margin-top:1px; }
.ratings.smaller .rt.text:after { content: '%'; vertical-align: super; font-size: 8px; } /* text */
.ratings.smaller .text { margin-top: 0; padding-left: 4px; margin-right: 11px; }
.ratings.smaller .icon.imdb { background-position: -277px -161px; margin-right: 5px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Fresh"] { background-position: -257px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Rotten"] { background-position: -273px -144px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Upright"] { background-position: -289px -145px; }
.ratings.smaller .icon.rottenTomato[data-rtratingtitle*="Spilled"] { background-position: -209px -144px; }
.ratings.smaller .sion .icon { width: 12px; height: 15px; margin-left: 13px; }
    .ratings.smaller .sion .text { margin-right: 0; }
.ratings.smaller .sion .icon.seeIt { background-position: -212px -175px; }
.ratings.smaller .sion .icon.orNot { background-position: -200px -175px; }

/* platform */
body.dt #navBar .content .navItem.m { display: none; }
body.dt .m { display: none; } /* any mobile elements that are on a dt page, hide */
body.m .dt { display: none; } /* vise versa */