<!DOCTYPE html>
@using System.Web.Optimization @*why won't it work if u put this in both web.configs?*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout.cshtml</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        
    </div>
</body>
</html>
