Hi!  We are Benson and Heather Marshall.<br />
We would like to introduce you to a very special person, our daughter Abigail.<br />
We haven’t met her yet, but we know her name will be Abigail Grace and she will need a loving home.  We cannot wait to hold her in our arms and provide a hand for her to hold as she grows.  To accomplish this we need $25,000.<br />
We would like to invite you to be a part of our adoption and also enjoy a night of entertainment and delicious food.<br />
<a href="http://abigailsadoption.blogspot.com/">Visit our blog</a> for more information regarding our progress.  You can also donate there directly.<br />
Thank you for helping us make our family complete!