<strong>Confirmation -</strong> thank you for your donation!<br />
<br />
<strong>Promote! -</strong> help us promote the dinner theater by clicking Like or Send below. Much appreciated :)
<div style="margin-top:20px;">
    <div class="fb-like" data-href="http://cocoscoffeeshop.com" data-send="true" data-width="175" data-show-faces="true" data-font="arial"></div>
</div>