<div>
    Please donate by "backing" our Kickstarter project. Thanks!
</div>
<div style="margin-top:20px;"><strong>Step 1: </strong>Click this link --> <a href="http://urlme.cc/kickstarter" target="_blank">Kickstarter project</a></div>
<div style="margin-top:20px;"><strong>Step 2: </strong>On the Kickstarter page, click the green <strong>Back This Project</strong> button (screenshot below) and follow the steps</div>
<div><a href="http://urlme.cc/kickstarter" target="_blank"><img src="http://img443.imageshack.us/img443/4417/backprojectbutton.png" style="margin-top:20px; border: 2px solid #e6e6e6;" /></a></div>