<div class="orderIndex">
@using (Html.BeginForm("Index", "Account"))
{
    <div id="playDates">
        <label>Which day?</label><input type="radio" id="day1" name="playDate" value="5/17/2013" /><label for="day1">Fri. May 17</label>
        <input type="radio" id="day2" name="playDate" value="5/18/2013" /><label for="day2">Sat. May 18</label>
    </div>
}
</div>