<div class="pleaseNote">
    <ul><li><span>Promote!</span> — huge favor? Tell your friends by clicking Like or Send below. Much appreciated :)</li></ul>
</div>
<div style="margin-top:20px; margin-bottom: 20px;">
    <div class="fb-like" data-href="http://cocoscoffeeshop.com" data-send="true" data-width="175" data-show-faces="true" data-font="arial"></div>
</div>

<strong>Tickets -</strong> thanks for your order! Your tickets can be picked up night of the play at Will Call.<br />
<br />
<strong>Evening of -</strong> please try and get there by 6:00pm so you can get seated; play starts at 6:30pm.<br />
