@{
    ViewBag.Title = "Crazy Capers at Coco's Coffee Shop";
}

@section desktopBody {
    <div class="left col">
        <h2>About the Play</h2>
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            @*<a href="~/order" class="orderTickets">Order Tickets</a>*@
            <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_511020a3293c4" href="https://www.wepay.com/events/160760">Register</a><script type="text/javascript">var WePay = WePay || {}; WePay.load_widgets = WePay.load_widgets || function () { }; WePay.widgets = WePay.widgets || []; WePay.widgets.push({ object_id: 160760, widget_type: "event", anchor_id: "wepay_widget_anchor_511020a3293c4", widget_options: { button_text: "Register" } }); if (!WePay.script) { WePay.script = document.createElement('script'); WePay.script.type = 'text/javascript'; WePay.script.async = true; WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s); } else if (WePay.load_widgets) { WePay.load_widgets(); }</script>
        </div>
    </div>
    <div class="right col">
        <h2>About the Cause</h2>
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>    
}

@section mobileBody {
    <h2>About the Play</h2>
    <div class="aboutPlay justify">
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            @*<a href="~/order" class="orderTickets">Order Tickets</a>*@
            <a class="wepay-widget-button wepay-green" id="wepay_widget_anchor_511020a3293c4" href="https://www.wepay.com/events/160760">Register</a><script type="text/javascript">var WePay = WePay || {}; WePay.load_widgets = WePay.load_widgets || function () { }; WePay.widgets = WePay.widgets || []; WePay.widgets.push({ object_id: 160760, widget_type: "event", anchor_id: "wepay_widget_anchor_511020a3293c4", widget_options: { button_text: "Register" } }); if (!WePay.script) { WePay.script = document.createElement('script'); WePay.script.type = 'text/javascript'; WePay.script.async = true; WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s); } else if (WePay.load_widgets) { WePay.load_widgets(); }</script>
        </div>
    </div>
    <h2 class="borderTop">About the Cause</h2>
    <div class="aboutCause justify">
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>
}
