@{
    ViewBag.Title = "Crazy Capers at Coco's Coffee Shop";
    var onOrderClick = "alert('Sorry, online ticket sales are closed. You can still come either night with a check. Thanks!'); return false;";
}

@section desktopBody {
    <div class="left col">
        <h2>About the Play</h2>
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            <a href="~/order" onclick="@Html.Raw(onOrderClick)" class="orderTickets">Order Tickets</a>
        </div>
        <div class="orJustDonate">
            Can't make it? You'll be missed! You can still...
            @*<div><a href="~/donate/kickstarter" class="justDonateLink"></a></div>*@
            @{ Html.RenderPartial("DonateButton"); }
        </div>
    </div>
    <div class="right col">
        <h2>About the Cause</h2>
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>    
}

@section mobileBody {
    <h2>About the Play</h2>
    <div class="aboutPlay justify">
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            <a href="~/order" onclick="@Html.Raw(onOrderClick)" class="orderTickets">Order Tickets</a>
        </div>
        <div class="orJustDonate">
            Can't make it? You'll be missed! You can still...
            @*<div><a href="~/donate/kickstarter" class="justDonateLink"></a></div>*@
            @{ Html.RenderPartial("DonateButton"); }
        </div>
    </div>
    <h2 class="borderTop">About the Cause</h2>
    <div class="aboutCause justify">
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>
}
