@{
    ViewBag.Title = "Crazy Capers at Coco's Coffee Shop";
}

@section desktopBody {
    <div class="left col">
        <h2>About the Play</h2>
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            <a href="~/order" class="orderTickets">Order Tickets</a>
        </div>
    </div>
    <div class="right col">
        <h2>About the Cause</h2>
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>    
}

@section mobileBody {
    <h2>About the Play</h2>
    <div class="aboutPlay justify">
        @{ Html.RenderPartial("AboutPlay"); }
        <div class="orderTicketsContainer">
            <a href="~/order" class="orderTickets">Order Tickets</a>
        </div>
    </div>
    <h2 class="borderTop">About the Cause</h2>
    <div class="aboutCause justify">
        <img src="~/content/images/team-marshall.png" />
        @{ Html.RenderPartial("AboutCause"); }
    </div>
}
