@model play.Site.ViewModels.HomeIndex

@{
    ViewBag.Title = "Crazy Capers at Coco's Coffee Shop";
}

<div class="left col">
    <h2>About the Play</h2>
    @Model.AboutPlay
</div>
<div class="right col">
    <h2>About the Cause</h2>
    <img src="~/content/images/team-marshall.jpg" />
</div>
