<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <localhost>
      <add key="UseCombinedJavascript" value="false" />
      <add key="CaptureGoogleAnalytics" value="false" />
    </localhost>
    <dev>
      <add key="CaptureGoogleAnalytics" value="false" />
    </dev>
    <prod>
      <!-- Email SmptHost -->
      <add key="SmtpHost" value="smtp.oneplace.com" />
    </prod>
    <global>
      <!--<add key="HostName" value="urlme.com"/>-->
      <add key="CacheSeconds" value="300"/>
      <add key="CaptureGoogleAnalytics" value="true" />
      <add key="SmtpHost" value="ricmail02.swnric.com" />
      <add key="SmtpPort" value="25" />
    </global>
  </appSettings>
  <connectionStrings>
    <localhost>
      <add name="Default" connectionString="SERVER=sqlserver8.loosefoot.com;Initial Catalog=bakersdozen132;UID=ihdavis2;PWD=pchang;" providerName="System.Data.SqlClient"/>
    </localhost>
    <dev>
      <add name="Default" connectionString="SERVER=sqlserver8.loosefoot.com;Initial Catalog=bakersdozen132;UID=ihdavis2;PWD=pchang;" providerName="System.Data.SqlClient"/>
    </dev>
    <prod>
      <add name="Default" connectionString="SERVER=sqlserver8.loosefoot.com;Initial Catalog=bakersdozen132;UID=ihdavis2;PWD=pchang;" providerName="System.Data.SqlClient"/>
    </prod>
  </connectionStrings>
</configuration>