@{
    ViewBag.Title = "Index";
    var user = futonFinder.Data.DomainModels.User.Current;
}

<h2>Welcome!  Sign in below to get started, or <a href="#">skip this for now</a>.</h2>

<div style="margin:0 0 20px 0; padding: 18px; border-radius: 3px; font-weight: bold; background: #e6e6e6;">
    @if (user.IsAuthenticated) {
        <span>hi  @user.Email. @Html.ActionLink("sign out", "SignOut", new { controller="Account" }).</span>
    } else {
        <span>not logged in.</span>
    }
</div>

<div id="homeIndex">
    <div id="logins">
        <form>
        <a href="#" class="group gradient">
            <span class="facebook iconBox">
                <span></span>
            </span>
            <span class="text">Sign in with Facebook</span>
        </a>
        </form>
        @using (Html.BeginForm("GoogleSignIn", "Account", FormMethod.Post))
        {
            <input name="openid_identifier" type="hidden" value="https://www.google.com/accounts/o8/id" />             
            <a href="#" class="group gradient" onclick="$(this).parent('form').submit(); return false;">
                <span class="google iconBox">
                    <span></span>
                </span>
                <span class="text">Sign in with Google</span>
            </a>            
        }
        <form>
        <a href="#" class="group gradient"><span class="twitter iconBox"><span></span></span><span class="text">Sign in with Twitter</span></a>
        </form>
    </div>

    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</div>