@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="logins">
    <a href="#"><span class="facebook iconBox"><span></span></span><span class="text">Login with Facebook</span></a>
    <a href="#"><span class="google iconBox"><span></span></span><span class="text">Login with Google</span></a>
    <a href="#"><span class="twitter iconBox"><span></span></span><span class="text">Login with Twitter</span></a>
</div>