@{
    ViewBag.Title = "Index";
}

<h2>Welcome!  Sign in below to get started, or <a href="#">skip this for now</a>.</h2>

<div id="homeIndex">
    <div id="logins">
        <a href="#" class="group gradient"><span class="facebook iconBox"><span></span></span><span class="text">Sign in with Facebook</span></a>
        <a href="#" class="group gradient"><span class="google iconBox"><span></span></span><span class="text">Sign in with Google</span></a>
        <a href="#" class="group gradient"><span class="twitter iconBox"><span></span></span><span class="text">Sign in with Twitter</span></a>
    </div>
</div>