<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="futonFinder.Data.Properties.Settings.bakersdozen132ConnectionString"
            connectionString="Data Source=sqlserver8.loosefoot.com;Initial Catalog=bakersdozen132;Persist Security Info=True;User ID=ihdavis2;Password=pchang"
            providerName="System.Data.SqlClient" />
        <add name="futonFinder.Data.Properties.Settings.bakersdozen132ConnectionString1"
            connectionString="Data Source=sqlserver8.loosefoot.com;Initial Catalog=bakersdozen132;Persist Security Info=True;User ID=ihdavis2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>