html{font-size:12px;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

body
{
    font-size: 12px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    /* text-align: center; */
}
.hidden { display:none; }
a:focus { outline: none; } /* firefox */
a { text-decoration: none; color: #0000CC; }
span.divider { color: #CDCDCD; font-weight: normal; margin: 0 5px; }
.content { margin-top: 20px; }

#container { margin: 0 auto; width: 980px; text-align:left; padding-top:10px; } /* same width as cnn.com */

#header { text-align:center; overflow:auto; }
#header #headerContents { }
#header #headerContents #searchControls { overflow:auto; height: 45px; position:absolute; right: 20px; top: 0px; }
#header #headerContents #views { float: left; }

#q  
{
    padding: 2px; 
    font-size: 15px; 
    border: 1px solid #717171; 
    border-radius: 5px; 
    width: 200px; 
    outline: none; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ffffff));
    background: -moz-linear-gradient(top,  #F8F8F8,  #ffffff);  
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
    float: left;
}

#go { width: 50px; height:34px; }

#showtimesView { clear: both; }
#showtimesView #filters { margin-top:25px; position: relative; }
    #showtimesView #filters #showtimeDays a { padding: 5px 10px; }
    #showtimesView #filters #showtimeDays a.active { /* background-color: #FFFF80; */ color: Black; font-weight: bold; text-decoration: none; cursor:text; }
    #showtimesView #filters #changeOptions { position: absolute; right: 5px; top: 20px; background: #ccc; display:none; padding: 8px; border-radius: 5px; -moz-border-radius: 5px; }
        #showtimesView #filters #changeOptions button { padding: 3px; }
        #showtimesView #filters #changeOptions input { padding: 4px; width: 80px; margin-right:4px; }
    #showtimesView #filters #nearPostalCode { position: absolute; right: 5px; display:none; } /* hide for now, until we get this thing working */
        #showtimesView #filters #nearPostalCode #postalCode { font-weight: bold; } /* hide for now, until we get this thing working */

#showtimesView #theaters { float: left; width: 265px; }
    #showtimesView #theaters #theaterList a { display:block; padding: 10px; }
    #showtimesView #theaters #theaterList a:not(:first-child) { margin-top:0px; }
    #showtimesView #theaters #theaterList a.selected { background: #E9E9E9; border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -moz-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-top-left-radius: 5px; }
        #showtimesView #theaters #theaterList a div.theaterName { font-weight: bold; margin-bottom: 2px; font-size: 110%; }
        #showtimesView #theaters #theaterList a div.theaterAddress { font-size: 90%; color: #999999; }
        
#showtimesView #currentTheater { float: left; width: 685px; }
    #showtimesView #currentTheater .theater { background: #E9E9E9; padding: 15px; }
    #showtimesView #currentTheater .theater:first-child { border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-top-right-radius: 5px; -moz-border-bottom-left-radius: 5px; -moz-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-top-right-radius: 5px;}
    #showtimesView #currentTheater .theater:not(:first-child) { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
    #showtimesView #currentTheater .theater:not(.selected) { display: none; }
    #showtimesView #currentTheater .theater.selected { display: block; }
        #showtimesView #currentTheater .theater h1 { font-size: 150%; font-weight: bold; }
        #showtimesView #currentTheater .theater p.address { color: #999; margin-top:5px; }
        #showtimesView #currentTheater .theater .movie { overflow: auto; display:block; background: #fff; padding: 10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top:10px; }
            #showtimesView #currentTheater .theater .movie .showtimes { margin-top: 10px; }
            #showtimesView #currentTheater .theater .movie img { float: left; margin-right: 10px; width:61px; display:block; height: 91px; }
            #showtimesView #currentTheater .theater .movie h2 { display:inline; font-weight: bold; margin-right: 10px; }
            #showtimesView #currentTheater .theater .movie .ratings { margin-top: 10px; }
                #showtimesView #currentTheater .theater .movie .ratings a { float: left; text-decoration: none; height: 24px; margin-right: 10px; line-height: 24px; }
                #showtimesView #currentTheater .theater .movie .ratings .rottenTomato { padding-left: 31px; font-weight: bold; color: #506A16; }
                #showtimesView #currentTheater .theater .movie .ratings .imdb { width: 20px; padding-left: 31px; color: Black; background: url("star_small.png") no-repeat scroll left center transparent; }
                #showtimesView #currentTheater .theater .movie .ratings .criticsFresh { background: url("rt-graphics/critics-fresh_smaller.png") no-repeat scroll left center transparent; }
                #showtimesView #currentTheater .theater .movie .ratings .criticsRotten { background: url("rt-graphics/critics-rotten_smaller.png") no-repeat scroll left center transparent; }
                #showtimesView #currentTheater .theater .movie .ratings .audienceUpright { padding-left: 28px; background: url("rt-graphics/audience-upright_smaller.png") no-repeat scroll left center transparent; }
                #showtimesView #currentTheater .theater .movie .ratings .audienceSpilled { background: url("rt-graphics/audience-spilled_smaller.png") no-repeat scroll left center transparent; }            
    
    #showtimesView #theaters #location { padding: 0; }
        #showtimesView #theaters li#location div { padding: 5px 0 5px 8px; width: 124px; display:inline-block;}    
        #showtimesView #theaters li#location #theatersNearYou { background: gray; }
        #showtimesView #theaters li#location #searchByZip { background: orange; }
#showtimesView #theaters #showtimesList { float: left; width: 48%; background: orange; }

/* begin: elements specific to theater view */
#theaters .theater { margin-bottom: 15px; overflow: auto; }
    #theaters .theater .theaterHeader { color: black; text-decoration: none; font-weight: bold; font-size: 130%; margin-bottom:5px; display:block; padding: 10px 0 10px 10px; border-right: 10px solid #e8e8e8; }
    #theaters .theater .movies { overflow: auto; margin-left: 20px;}
    
        #theaters .theater .movies h3 { font-weight:bold; overflow: auto; display:inline; margin-right:10px; }
        #theaters .theater .movies .movie { overflow: hidden; margin-top:15px; position: relative; width: 405px; float: left; height:90px; }        
        
            #theaters .theater .movies .movie .actions { position: absolute; top: 6px; right: 10px; }
            #theaters .theater .movies .movie .actions a { padding: 5px; border: 1px solid #cdcdcd; text-decoration: none; color: #cdcdcd; }
            #theaters .theater .movies .movie .actions a:hover { color: black; border-color: Black; }
            
            #theaters .theater .movies .movie .ratings { overflow: auto; margin-top: 8px; height: 24px; margin-bottom: 10px; }
            
                #theaters .theater .movies .movie .ratings a { float: left; text-decoration: none; height: 24px; margin-right: 10px; line-height: 24px; }
                #theaters .theater .movies .movie .ratings .rottenTomato { padding-left: 31px; font-weight: bold; color: #506A16; }
                #theaters .theater .movies .movie .ratings .imdb { width: 20px; padding-left: 31px; color: Black; background: url("star_small.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .criticsFresh { background: url("rt-graphics/critics-fresh_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .criticsRotten { background: url("rt-graphics/critics-rotten_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .audienceUpright { padding-left: 28px; background: url("rt-graphics/audience-upright_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .audienceSpilled { background: url("rt-graphics/audience-spilled_smaller.png") no-repeat scroll left center transparent; }
/* end: elements specific to theater view */

#movies .notYetReleased { color: Gray; }
#movies .notYetReleased .notYetReleasedMessage { overflow: auto; margin-top: 10px; }
#movies .notYetReleased img { opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */ }
#movies .movie.unPinned .actions { display:none; } 

#movies .movie { overflow: hidden; margin-bottom:15px; position: relative; width: 415px; float: left; height:133px; }
#movies .movie .actions { position: absolute; bottom: 10px; right: 5px; }
#movies .movie .actions a { padding: 5px; border: 1px solid gray; margin-left: 5px; text-decoration: none; color: Gray; }
#movies .movie.pinned .actions a.pinLink { color: Black; }
#movies .movie .actions a:hover { color: black; }
#movies .movie.unPinned:hover .actions { display:block; }
/* .movie:first-child { margin-top:0px; } */
#movies .movie img { float: left; max-width: 85px; }
#movies .movie .details { margin-left: 10px; float: left; font-size: 120%; }
#movies .movie .details .title { font-weight: bold; margin-right: 20px; }
#movies .movie .details .ratings { margin-top: 10px; overflow:auto; }

a.external { padding-right: 15px; }
a.disabled { color: Black; cursor: text; }
a.external:hover { background: url('icons/external-link-icon.png') no-repeat top right; }
#movies .movie .ratings .star
{
    color: black;
    display: inline-block;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    height: 66px;
    line-height: 66px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 66px;    
    background: url("star.png") no-repeat scroll 0 0 transparent;
    margin-right:30px;
}
#movies .movie .ratings a
{
    float: left; text-decoration: none;
}
#movies .movie .ratings .rottenTomato { height: 48px; padding-left: 54px; line-height: 49px; font-weight: bold; color: #506A16; margin-top:8px; margin-right: 14px; }
#movies .movie .ratings .criticsFresh { background: url("critics-fresh.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .criticsRotten { background: url("critics-rotten.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .audienceUpright { background: url("audience-upright.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .audienceSpilled { background: url("audience-spilled.png") no-repeat scroll 0 0 transparent; }

/*
.button {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
*/

/* This is for the jquery mask plugin */
.loadmask { z-index: 100; position: absolute; top: 0; left: 0; -moz-opacity: 0.5; opacity: .50; filter: alpha(opacity=50); background-color: #CCC; width: 100%; height: 100%; zoom: 1; }
.loadmask-msg { z-index: 20001; position: absolute; top: 0; left: 0; padding: 0; margin: 0; }
.loadmask-msg div { padding: 0; margin: 0; background: transparent url(processing-bar.gif) no-repeat center center; border: 0; cursor: wait; width: 220px; height: 19px; }
.masked { overflow: hidden !important; }
.masked-relative { position: relative !important; }
.masked-hidden { visibility: hidden !important; }

/* css for tabs */
ul#views {	height: 36px; padding: 0 0 0 20px; width: 960px; position: relative; overflow: hidden; }
ul#views li { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; float: left; margin: 0 10px 0 0; background-color: #2B477D; border: solid 1px #415F9D; position: relative; z-index: 1; }
ul#views li.active {	z-index: 3; }
ul#views li.shadow { width: 100%; height: 2px; position: absolute; bottom: -3px; left: 0; border: none; background: none; z-index: 2; -webkit-box-shadow: #111 0 -2px 6px; -moz-box-shadow: #111 0 -2px 6px; box-shadow: #111 0 -2px 6px; }
ul#views li a:link, ul#views li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 130px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #2B477D;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#views li a:hover {
	background-color: #5a87dd;
}

ul#views li.active a:link, ul#views li.active a:visited {
	color: #2B477D;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #e8e8e8, #fff 60%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.4, #fff),color-stop(.6, #e8e8e8));
	background-color: #f2f2f2;
}