html{font-size:12px;color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

body
{
    font-size: 12px;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    /* text-align: center; */
}
.hidden { display:none; }
a:focus { outline: none; } /* firefox */
a { text-decoration: none; color: Blue; }

#container { margin: 0 auto; width: 830px; text-align:left; padding-top:10px; }

#movies,#theaters { margin-top: 25px; overflow:auto; }

#theaterView #filters { margin-top:25px; display:none; position: relative; }
    #theaterView #filters #showtimeDays a { padding: 5px 10px; }
    #theaterView #filters #showtimeDays a.active { /* background-color: #FFFF80; */ color: Black; font-weight: bold; text-decoration: none; cursor:text; }
    #theaterView #filters #changeOptions { position: absolute; right: 5px; top: 20px; background: #ccc; display:none; padding: 8px; border-radius: 5px; -moz-border-radius: 5px; }
        #theaterView #filters #changeOptions button { padding: 3px; }
        #theaterView #filters #changeOptions input { padding: 4px; width: 80px; margin-right:4px; }
    #theaterView #filters #nearPostalCode { position: absolute; right: 5px; display:none; } /* hide for now, until we get this thing working */
        #theaterView #filters #nearPostalCode #postalCode { font-weight: bold; } /* hide for now, until we get this thing working */

/* begin: elements specific to theater view */
#theaters .theater { margin-bottom: 15px; overflow: auto; }
    #theaters .theater .theaterHeader { color: black; text-decoration: none; font-weight: bold; font-size: 130%; margin-bottom:5px; display:block; padding: 10px 0 10px 10px; border-right: 10px solid #e8e8e8; }
    #theaters .theater .theaterHeader.expanded { background: url("icons/collapse_medium.png") no-repeat scroll right center #e8e8e8; }
    #theaters .theater .theaterHeader.collapsed { background: url("icons/expand_medium.png") no-repeat scroll right center #e8e8e8; }
    #theaters .theater .movies { overflow: auto; margin-left: 20px;}
    
        #theaters .theater .movies h3 { font-weight:bold; overflow: auto; display:inline; margin-right:10px; }
        #theaters .theater .movies .movie { overflow: hidden; margin-top:15px; position: relative; width: 405px; float: left; height:90px; }        
        
            #theaters .theater .movies .movie .actions { position: absolute; top: 6px; right: 10px; }
            #theaters .theater .movies .movie .actions a { padding: 5px; border: 1px solid #cdcdcd; text-decoration: none; color: #cdcdcd; }
            #theaters .theater .movies .movie .actions a:hover { color: black; border-color: Black; }
            
            #theaters .theater .movies .movie .ratings { overflow: auto; margin-top: 8px; height: 24px; margin-bottom: 10px; }
            
                #theaters .theater .movies .movie .ratings a { float: left; text-decoration: none; height: 24px; margin-right: 10px; line-height: 24px; }
                #theaters .theater .movies .movie .ratings .rottenTomato { padding-left: 31px; font-weight: bold; color: #506A16; }
                #theaters .theater .movies .movie .ratings .imdb { width: 20px; padding-left: 31px; color: Black; background: url("star_small.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .criticsFresh { background: url("rt-graphics/critics-fresh_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .criticsRotten { background: url("rt-graphics/critics-rotten_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .audienceUpright { padding-left: 28px; background: url("rt-graphics/audience-upright_smaller.png") no-repeat scroll left center transparent; }
                #theaters .theater .movies .movie .ratings .audienceSpilled { background: url("rt-graphics/audience-spilled_smaller.png") no-repeat scroll left center transparent; }
/* end: elements specific to theater view */

#movies .notYetReleased { color: Gray; }
#movies .notYetReleased .notYetReleasedMessage { overflow: auto; margin-top: 10px; }
#movies .notYetReleased img { opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */ }
#movies .movie.unPinned .actions { display:none; } 

#header { text-align:center; }
#header #headerContents { width:467px; display:inline-block; }
#header #headerContents #searchControls { overflow:auto; width: 486px; height: 45px; }

#movies .movie { overflow: hidden; margin-bottom:15px; position: relative; width: 415px; float: left; height:133px; }
#movies .movie .actions { position: absolute; bottom: 10px; right: 5px; }
#movies .movie .actions a { padding: 5px; border: 1px solid gray; margin-left: 5px; text-decoration: none; color: Gray; }
#movies .movie.pinned .actions a.pinLink { color: Black; }
#movies .movie .actions a:hover { color: black; }
#movies .movie.unPinned:hover .actions { display:block; }
/* .movie:first-child { margin-top:0px; } */
#movies .movie img { float: left; max-width: 85px; }
#movies .movie .details { margin-left: 10px; float: left; font-size: 120%; }
#movies .movie .details .title { font-weight: bold; margin-right: 20px; }
#movies .movie .details .ratings { margin-top: 10px; overflow:auto; }

#loading { position:absolute; top:8px; right: 8px; }
#loading img { margin-right: 10px; }
a.external { padding-right: 15px; }
a.disabled { color: Black; cursor: text; }
a.external:hover { background: url('icons/external-link-icon.png') no-repeat top right; }
#go { padding: 10px; width: 50px; }
#movies .movie .ratings .star
{
    color: black;
    display: inline-block;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    height: 66px;
    line-height: 66px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 66px;    
    background: url("star.png") no-repeat scroll 0 0 transparent;
    margin-right:30px;
}
#movies .movie .ratings a
{
    float: left; text-decoration: none;
}
#movies .movie .ratings .rottenTomato { height: 48px; padding-left: 54px; line-height: 49px; font-weight: bold; color: #506A16; margin-top:8px; margin-right: 14px; }
#movies .movie .ratings .criticsFresh { background: url("critics-fresh.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .criticsRotten { background: url("critics-rotten.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .audienceUpright { background: url("audience-upright.png") no-repeat scroll 0 0 transparent; }
#movies .movie .ratings .audienceSpilled { background: url("audience-spilled.png") no-repeat scroll 0 0 transparent; }

#q  
{
    padding: 5px; 
    font-size: 25px; 
    border: 1px solid #717171; 
    border-radius: 5px; 
    width: 400px; 
    outline: none; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#ffffff));
    background: -moz-linear-gradient(top,  #F8F8F8,  #ffffff);  
    -webkit-box-shadow: 1px 1px 0px #efefef;
    -moz-box-shadow: 1px 1px 0px #efefef;
    box-shadow:  1px 1px 0px #efefef;
    margin-right:5px;
    float: left;
}

.button {
	float:left;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
