@model movies.Site.ViewModels.Shared.AuthUserJs
<script type="text/javascript">
    var facebookUserId = @Model.FacebookUserId;
    
    function refreshAdmin() {
        @if (Model.IsViewer || Model.IsAdmin) {
            <text>
            var editHtmlFormat = "<a class=\"button edit\" data-movieid=\"{0}\">Edit</a>";
            $(".movie").css("position","relative").each(function(i, movie) {
                movie = $(movie);
                var movieId = movie.attr("data-movieid");
                if (!movie.find("a.edit").length) {
                    movie.prepend(editHtmlFormat.format(movieId));
                }
            });
            var overlay = $("#movieDetailsPopup");
            if (overlay.is(":visible") && !overlay.find("a.edit").length) {
                var movieId = overlay.find("#currentMovieId").val();
                overlay.find("#movieDetails").prepend(editHtmlFormat.format(movieId));
            }
            </text>
        } // end: razor check for isviewer || isadmin
        @if (Model.IsAdmin) {
            <text>

            </text>
        } // end: razor check for isadmin
    }
    refreshAdmin();

    if (!$("#toggleAdmin").length) {
        var toggleAdminHtml = "<a id=\"toggleAdmin\" style=\"position:fixed; top: 15px; right: 15px;\" class=\"button\">Toggle admin view</a>";
        $("body").append(toggleAdminHtml);
        $("#toggleAdmin").click(function(e) {
            e.preventDefault();
            $("a.edit").toggle();
        });
    }

    $(document).on('click', '.ui-widget-overlay', function(){
        $(".ui-dialog-titlebar-close").trigger('click');
    });

    // add edit form if it does not exist already in dom
    if (!$("#editForm").length) {
        var editFormHtml = "<form id='editForm' title='Edit Review'><p></p><input type='hidden' name='movieId' /><div><textarea name='text' maxlength='140' placeholder='Enter review...'></textarea></div><div><input class='iPhoneCheckBox' checked='checked' type='checkbox' name='seeIt' /></div><div><input type='text' name='url' placeholder='Enter Read More url...' /></div><p></p></form>";
        $("body").append(editFormHtml);
        $(".iPhoneCheckBox").iphoneStyle({
            checkedLabel: "See It",
            uncheckedLabel: "Or Not"
        });
        $("#editForm").dialog({
            autoOpen: false,
            //height: 300,
            width: 300,
            modal: true,
            buttons: {
                "Save": function() {
                    var form = $("#editForm");
                    var data = {};
                    var readMoreUrl = form.find("[name='url']").val() || "http://johnhanlonreviews.com";
                    data.facebookUserId = facebookUserId;
                    data.movieReview = {
                        movieId: form.find("[name='movieId']").val(),
                        text: $.trim(form.find("[name='text']").val()),
                        className: form.find("[name='seeIt']").is(":checked") ? "seeIt" : "orNot",
                        url: $.trim(readMoreUrl)
                    };
                    $.ajax({
                        url: '@Url.Content("~/moviereview/save")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });                    
                    $(this).dialog("close");
                },
                "Delete": function() {
                    var form = $("#editForm");
                    var data = {};
                    data.facebookUserId = facebookUserId;
                    data.movieId = form.find("[name='movieId']").val();
                    $.ajax({
                        url: '@Url.Content("~/moviereview/delete")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });  
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                var editForm = $("#editForm");
                editForm.find("[name='text']").val("");
                editForm.find("[name='url']").val("");
                var seeItChk = editForm.find("[name='seeIt']");
                if (!seeItChk.is(":checked")) {
                    seeItChk.trigger("click");
                }
            }
        });
    }

    // handle clicks for current and future a.edit links
    $(document).on('click','a.edit', function(e) {
        e.preventDefault();
        var movieId = $(this).attr("data-movieid");
        codejkjk.movies.Api.GetMovieReviewForReviewer(movieId, function(review) {
            var editForm = $("#editForm");
            editForm.find("p:first").text(review.title);
            editForm.find("p:last").text(review.statusMsg);
            editForm.find("[name='movieId']").val(review.id);
            if (review.review) {
                editForm.find("[name='url']").val(review.review.Url);
                editForm.find("[name='text']").val(review.review.Text);

                if (review.review.ClassName == "orNot") {
                    editForm.find("[name='seeIt']").trigger('click');
                }
            } else {
                editForm.find("[name='url']").val("http://johnhanlonreviews.com");
            }
                    
            editForm.dialog("open");
        });
    });
</script>