@model movies.Site.ViewModels.Shared.AuthUserJs
<script type="text/javascript">
    var facebookUserId = @Model.FacebookUserId;
    
    function refreshAdmin() {
        @if (Model.IsReviewer || Model.IsAdmin) {
            <text>
            var reviewerHtmlFormat = "<a class=\"button admin\" data-role=\"Reviewer\" data-movieid=\"{0}\">Edit</a>";
            @if (Model.IsAdmin) { 
                <text>
                    var adminHtmlFormat = "<a class=\"button admin\" data-role=\"Admin\" data-movieid=\"{0}\">Admin</a>";
                </text>
            }
            $(".movieList .movie").each(function(i, movie) {
                movie = $(movie);
                var movieId = movie.attr("data-movieid");
                @if (Model.IsAdmin) {
                    <text>
                        if (!movie.find("a[data-role='Admin']").length) {
                            movie.prepend(adminHtmlFormat.format(movieId));
                        }
                    </text>
                }
                if (!movie.find("a[data-role='Reviewer']").length) {
                    movie.prepend(reviewerHtmlFormat.format(movieId));
                }
            }); // next movieList movie
            var popup = $("#movieDetailsPopup");
            if (popup.length && !popup.find("a[data-role='Reviewer']").length) {
                var movieId = $("#currentMovieId").val();
                popup.prepend(reviewerHtmlFormat.format(movieId));
            }
            </text>
        } // end: razor check for IsReviewer || isadmin
    }
    refreshAdmin();

    function toggleAdmin() {
        $("a.admin.button").toggle();
    }

    // add edit form if it does not exist already in dom
    if (!$("#editForm").length) {
        var gradeLetters = "<div id='gradeLetters' class='buttonset'>";
        $.each("A,B,C,D,F".split(','), function(i, letter) {
            gradeLetters += "<input type='radio' name='gradeLetter' id='{0}' /><label for='{0}'>{0}</label>".format(letter);
        });
        gradeLetters += "</div>";
        var gradeSuffices = "<div id='gradeSuffices' class='buttonset'>";
        gradeSuffices += "<input type='radio' name='gradeLetter' id='Nothing' /><label for='Nothing'>{0}</label>".format("&nbsp;");
        gradeSuffices += "<input type='radio' name='gradeLetter' id='Plus' /><label for='Plus'>{0}</label>".format("+");
        gradeSuffices += "<input type='radio' name='gradeLetter' id='Minus' /><label for='Minus'>{0}</label>".format("-");
        gradeSuffices += "</div>";

        var editFormHtml = "<form id='editForm' class='admin' title='Edit Review'><p></p><input type='hidden' name='movieId' /><div><textarea name='text' maxlength='140' placeholder='Enter review...'></textarea></div><div><input class='iPhoneCheckBox' checked='checked' type='checkbox' name='seeIt' /></div><div><input type='text' name='url' placeholder='Enter Read More url...' /></div><div id='grade'>{0}{1}</div><p></p></form>".format(gradeLetters, gradeSuffices);
        $("body").append(editFormHtml);
        $(".buttonset").buttonset();

        $(".iPhoneCheckBox").iphoneStyle({
            checkedLabel: "See It",
            uncheckedLabel: "Or Not"
        });
        $("#editForm").dialog({
            autoOpen: false,
            //height: 300,
            width: 300,
            modal: true,
            buttons: {
                "Save": function() {
                    var form = $("#editForm");
                    var data = {};
                    var readMoreUrl = form.find("[name='url']").val() || "http://johnhanlonreviews.com";
                    data.facebookUserId = facebookUserId;
                    data.movieReview = {
                        movieId: form.find("[name='movieId']").val(),
                        text: $.trim(form.find("[name='text']").val()),
                        className: form.find("[name='seeIt']").is(":checked") ? "seeIt" : "orNot",
                        url: $.trim(readMoreUrl)
                    };
                    $.ajax({
                        url: '@Url.Content("~/moviereview/save")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });                    
                    $(this).dialog("close");
                },
                "Delete": function() {
                    var form = $("#editForm");
                    var data = {};
                    data.facebookUserId = facebookUserId;
                    data.movieId = form.find("[name='movieId']").val();
                    $.ajax({
                        url: '@Url.Content("~/moviereview/delete")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });  
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                var editForm = $("#editForm");
                editForm.find("[name='text']").val("");
                editForm.find("[name='url']").val("");
                var seeItChk = editForm.find("[name='seeIt']");
                if (!seeItChk.is(":checked")) {
                    seeItChk.trigger("click");
                }
            }
        });
    }

    // edit button clicks
    $(document).on('click',"a[data-role='Reviewer']", function(e) {
        e.preventDefault();
        var movieId = $(this).attr("data-movieid");
        codejkjk.movies.Api.GetMovieReviewForReviewer(movieId, function(review) {
            var editForm = $("#editForm");
            editForm.find("p:first").text(review.title);
            editForm.find("p:last").text(review.statusMsg);
            editForm.find("[name='movieId']").val(review.id);
            if (review.review) {
                editForm.find("[name='url']").val(review.review.Url);
                editForm.find("[name='text']").val(review.review.Text);

                if (review.review.ClassName == "orNot") {
                    editForm.find("[name='seeIt']").trigger('click');
                }
            } else {
                editForm.find("[name='url']").val("http://johnhanlonreviews.com");
            }
                    
            editForm.dialog("open");
        });
    });

    // add admin form if it does not exist already in dom
    if (!$("#adminForm").length) {
        var adminFormHtml = "<form id='adminForm' class='admin' title='Admin'><p></p><input type='hidden' name='movieId' /><div id='thumbsUpBlackList' class='list group'><span class='text'>On thumbs up black list?</span><span class='icon'></span></div><div><input type='checkbox' name='seeItBlackList' /></div><div id='thumbsUpWhiteList' class='list group'><span class='text'>On thumbs up white list?</span><span class='icon'></span></div><div><input type='checkbox' name='seeItWhiteList' /></div><p></p></form>";
        $("body").append(adminFormHtml);
        $("[name='seeItBlackList'],[name='seeItWhiteList']").iphoneStyle({
            checkedLabel: "Yes",
            uncheckedLabel: "No"
        });
        $("#adminForm").dialog({
            autoOpen: false,
            //height: 300,
            width: 300,
            modal: true,
            buttons: {
                "Save": function() {
                    var form = $("#adminForm");
                    var data = {};
                    data.facebookUserId = facebookUserId;
                    data.movieId = form.find("[name='movieId']").val();
                    data.onSeeItBlackList = form.find("[name='seeItBlackList']").is(":checked");
                    data.onSeeItWhiteList = form.find("[name='seeItWhiteList']").is(":checked");

                    $.ajax({
                        url: '@Url.Content("~/movie/save")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });                    
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                var adminForm = $("#adminForm");
                var chk1 = adminForm.find("[name='seeItBlackList']");
                var chk2 = adminForm.find("[name='seeItWhiteList']");
                if (chk1.is(":checked")) {
                    chk1.trigger("click");
                }
                if (chk2.is(":checked")) {
                    chk2.trigger("click");
                }
            }
        });
    }

    // admin button clicks - open the form dialog
    $(document).on('click',"a[data-role='Admin']", function(e) {
        e.preventDefault();
        var movieId = $(this).attr("data-movieid");
        codejkjk.movies.Api.GetMovieForAdmin(movieId, function(movie) {
            var adminForm = $("#adminForm");
            adminForm.find("p:first").text(movie.title);
            adminForm.find("p:last").html(movie.reviewStatus);
            adminForm.find("[name='movieId']").val(movie.id);
            console.log(movie);
            console.log(movie.isOnSeeItBlackList);
            if (movie.isOnSeeItBlackList) {
                console.log('here');
                adminForm.find("[name='seeItBlackList']").trigger('click');
            }
            if (movie.isOnSeeItWhiteList) {
                console.log('there');
                adminForm.find("[name='seeItWhiteList']").trigger('click');
            }
                    
            adminForm.dialog("open");
        });
    });

    $(document).on('click', '.ui-widget-overlay', function(){
        $(".ui-dialog-titlebar-close").trigger('click');
    });
</script>