@model movies.Site.ViewModels.Shared.PageHeader
@using movies.Model;

<div class="logo">
    <a href="~/"></a>
</div>
<div data-role="header">
    <input type="search" name="search" id="q" value="" placeholder="Search..."/>
    <div data-role="navbar">
        <ul class="group">
            <li><a class="selected" href="/" @(Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@Model.UseAjaxForLinks.ToString().ToLower()">What's Hot</a></li>
            <li><a href="/showtimes" @(Model.PrefetchLinks ? "data-prefetch" : "") data-ajax="@Model.UseAjaxForLinks.ToString().ToLower()">Showtimes</a></li>
        </ul>
    </div>
</div><!-- /header -->