@model Dictionary<string, movies.Model.Movie>
@using movies.Model

@if (!Model.Values.Any()) {
    return;
}

<div class="slider rounded glowing" style="display:none">
    @{ var firstMovie = this.Model.Values.ElementAt(0); }
    <div class="feature group movieDetails">
        @this.Html.Partial("MovieDetailsSimple", firstMovie)
    </div>
    <div class="slides group">
        @for (int i = 0; i < this.Model.Values.Count; i++)
        {
            var movie = this.Model.Values.ElementAt(i);
            <a href="" class="@(i == 0 ? "active" : "")" data-movieid="@movie.id"><img src="@movie.posters.thumbnail" /></a>
        }
    </div>
</div>