@model List<movies.Model.PostalCode.Theater>
@using movies.Model

@foreach (var theater in this.Model)
{
    <div class="theater rounded">
    <h2>@theater.name</h2>
    @if (theater.movies.Count == 1)
    {
        <p class="times singleMovie">@this.Html.Raw(theater.movies.ElementAt(0).showtimesHtml)</p>
    }
    else
    {
        foreach (var movie in theater.movies)
        {
            <h3>@movie.title</h3>
            <p class="times">@this.Html.Raw(movie.showtimesHtml)</p>
        }        
    }
    </div>
}









