@model movies.Site.ViewModels.Shared.ViewerJs
<script type="text/javascript">
    var facebookUserId = @Model.FacebookUserId;
    
    function refreshAdmin() {
        console.log("refreshing");
        $(".movie").css("position","relative").each(function(i, movie) {
            movie = $(movie);
            if (!movie.find(".admin").length) {
                movie.prepend("<a class=\"button edit\">Edit</a>");
            }
        });
        var overlay = $("#movieDetailsPopup");
        if (overlay.is(":visible") && !overlay.find("a.edit").length) {
            overlay.append("<a class=\"button edit\">Edit</a>");
        }
    }
    refreshAdmin();

    // add edit form if it does not exist already in dom
    if (!$("#editForm").length) {
        var editFormHtml = "<form id='editForm' title='Edit Review'><p></p><input type='hidden' name='movieId' /><input type='hidden' name='mpaaRating' /><input type='hidden' name='title' /><input type='hidden' name='year' /><input type='hidden' name='thumbnailPosterUrl' /><input type='hidden' name='profilePosterUrl' /><input type='hidden' name='detailedPosterUrl' /><div><textarea name='text' maxlength='140' placeholder='Enter review...'></textarea></div><div><input class='iPhoneCheckBox' checked='checked' type='checkbox' name='seeIt' /></div><div><input type='text' name='url' placeholder='Enter Read More url...' /></div></form>";
        $("body").append(editFormHtml);
        $(".iPhoneCheckBox").iphoneStyle({
            checkedLabel: "See It",
            uncheckedLabel: "Or Not"
        });
        $("#editForm").dialog({
            autoOpen: false,
            height: 300,
            width: 300,
            modal: true,
            buttons: {
                "Save": function() {
                    var form = $("#editForm");
                    var data = {};
                    var readMoreUrl = form.find("[name='url']").val() || "http://johnhanlonreviews.com";
                    data.facebookUserId = facebookUserId;
                    data.mpaaRating = form.find("[name='mpaaRating']").val();
                    data.movieReview = {
                        movieId: form.find("[name='movieId']").val(),
                        text: $.trim(form.find("[name='text']").val()),
                        className: form.find("[name='seeIt']").is(":checked") ? "seeIt" : "orNot",
                        url: $.trim(readMoreUrl),
                        title: form.find("[name='title']").val(),
                        year: form.find("[name='year']").val(),
                        thumbnailPosterUrl: form.find("[name='thumbnailPosterUrl']").val(),
                        profilePosterUrl: form.find("[name='profilePosterUrl']").val(),
                        detailedPosterUrl: form.find("[name='detailedPosterUrl']").val()
                    };
                    $.ajax({
                        url: '@Url.Content("~/moviereview/save")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });                    
                    $(this).dialog("close");
                },
                "Delete": function() {
                    var form = $("#editForm");
                    var data = {};
                    data.facebookUserId = facebookUserId;
                    data.movieId = form.find("[name='movieId']").val();
                    $.ajax({
                        url: '@Url.Content("~/moviereview/delete")',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        success: function (json) {
                            if (json.WasSuccessful) {
                                codejkjk.feedback.showSuccess()
                            }
                            else {
                                alert("Error, please try again or contact Ian.");
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });  
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                }
            },
            close: function() {
                var editForm = $("#editForm");
                editForm.find("[name='text']").val("");
                editForm.find("[name='url']").val("");
                var seeItChk = editForm.find("[name='seeIt']");
                if (!seeItChk.is(":checked")) {
                    seeItChk.trigger("click");
                }
            }
        });
    }

    // handle clicks for current and future a.edit links
    $(document).on('click','a.edit', function(e) {
        e.preventDefault();
        var movieId = movie.find("a.movieDetailsLink:first").attr("href");
        movieId = movieId.substring(movieId.lastIndexOf("/") + 1);
        codejkjk.movies.Api.GetRottenTomatoesMovie(movieId, function(rt) {
            var editForm = $("#editForm");
            editForm.find("p").text(rt.title);
            editForm.find("[name='movieId']").val(rt.id);
            if (rt.Review) {
                editForm.find("[name='url']").val(rt.Review.Url);
                editForm.find("[name='text']").val(rt.Review.Text);
                editForm.find("[name='title']").val(rt.title);
                editForm.find("[name='year']").val(rt.year);
                editForm.find("[name='thumbnailPosterUrl']").val(rt.posters.thumbnail);
                editForm.find("[name='profilePosterUrl']").val(rt.posters.profile);
                editForm.find("[name='detailedPosterUrl']").val(rt.posters.detailed);
                editForm.find("[name='mpaaRating']").val(rt.mpaa_rating);

                if (rt.Review.ClassName == "orNot") {
                    editForm.find("[name='seeIt']").trigger('click');
                }
            } else {
                editForm.find("[name='url']").val("http://johnhanlonreviews.com");
            }
                    
            editForm.dialog("open");
        });
    });
</script>